@import '~client/sass/mixins.scss';

@keyframes spin {
    $offset: -15;
    from {
        transform: rotate(#{$offset}deg);
    }
    to {
        transform: rotate(#{$offset + 360}deg);
    }
}

@keyframes into-view {
    from {
        @include modal-enter-state;
    }
    to {
        @include modal-normal-state;
    }
}

@keyframes out-of-view {
    from {
        @include modal-normal-state;
    }
    to {
        @include modal-exit-state;
    }
}
