@keyframes spin {
    to { transform: rotate(1turn); }
}

body {
    margin: 0;
    font: 1em Arial, Helvetica, sans-serif;
    &.wait * {
        cursor: wait !important;
    }
}

.flexbox {
    display: flex;
}
.flex {
}

.progress-outer {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 500;
    top: $height_nav;
    left: 0;
    background: rgba(255, 255, 255, 0.8);
}
.progress-inner {
    width: 20em;
    height: 20em;
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: -10em;
    margin-top: -10em;
    font-size: 6px;
    background: white;
    border-radius: 2em;
    box-shadow: inset 0 0 19px -3px rgba(60, 60, 60, 0.4);

    .progress {
        margin: 7.5em;
    }
}

.progress {
    display: inline-block;
    position: relative;
    width: 5em;
    height: 5em;
    text-indent: 999em;
    overflow: hidden;
    animation: spin 1s infinite steps(8);
    
    &:before,
    &:after,
    & > div:before,
    & > div:after {
        content: $none;
        position: absolute;
        top: 0;
        left: 2.25em; /* (container width - part width)/2  */
        width: .5em;
        height: 1.5em;
        border-radius: .2em;
        background: #eee;
        box-shadow: 0 3.5em #eee; /* container height - part height */
        transform-origin: 50% 2.5em; /* container height / 2 */
    }
    &:before {
        background: #555;
    }
    &:after {
        transform: rotate(-45deg);
        background: #777;
    }
    & > div:before {
        transform: rotate(-90deg);
        background: #999;
    }
    & > div:after {
        transform: rotate(-135deg);
        background: #bbb;
    }
}

.progress-tiny {
    width: 18px;
    height: 18px;

    &:before,
    &:after,
    & > div:before,
    & > div:after {
        left: 8px;
        width: 2px;
        height: 6px;
        border-radius: 2px;
        box-shadow: 0 12px #8ecbff;
        transform-origin: 50% 9px;
        background: #8ecbff;
    }
    &:before {
        background: #3c6b94;
    }
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           /* Non-prefixed version, currently
                                                                    not supported by any browser */
}

/* error messages */
.messages-outer {
    margin: 1em;
    z-index: 1001;
    position: fixed;
    top: $height_nav;
    right: 0;
    .message {
        transition: 0.8s ease-in-out;
        font-style: italic;
        font-size: 0.9em;
        cursor: pointer;
        border-radius: 0.3em;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
        height: 3em;
        margin-top: 0.5em;
        overflow: hidden;

        span {
            line-height: 3em;
            padding: 1em 2em;
            white-space: nowrap;
            max-width: 400px;
            text-overflow: ellipsis;
            overflow: hidden;
        }

        &.debug {
            background: rgba(0, 156, 255, 0.5);
        }
        &.warn {
            background: rgba(255, 147, 0, 0.5);
        }
        &.error {
            background: rgba(255, 0, 0, 0.5);
        }
        &.fatal {
            background: rgba(128, 0, 0, 0.7);
        }
        &.closed {
            margin: 0;
            opacity: 0;
            height: 0;
        }
    }
}

/* document */
.page-wrapper {
    padding-top: $top_nav;
    .inner {
        position: relative;
        &, & > div {
            width: inherit;
        }
    }
}

/* flexible table */
.table-flex {
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: column nowrap;
    .row {
        display: flex;
        flex-flow: row nowrap;
        width: 100%;

        &.header {
            font-weight: bold;
        }
    }
    .col {
        display: flex;
        flex-flow: row nowrap;
        flex-grow: 1;
        flex-basis: 0;
    }
}

/* insert table */
.table-insert {
    border-collapse: collapse;
    th {
        text-transform: capitalize;
        text-align: center;
    }
    td {
        font-size: .9em;
        padding: 2px 3px;
    }
    .cost {
        text-align: right;
        width: 96px;
    }
    .date {
        width: 96px;
    }
    .item,
    .category {
        width: 192px;
    }
}

/* insert list */
.list-insert {
    .list-head {
        position: fixed;
        left: 0;
        z-index: 4;
        font-weight: bold;
        line-height: 24px;
        text-transform: capitalize;
        white-space: nowrap;
        .weekly, .weekly-value, .total, .total-value {
            margin-left: 0.2em;
            padding-left: 0.2em;
        }
        span {
            display: inline-block;
            text-align: left;
            padding-left: 1px;
            vertical-align: middle;
        }
    }

    .future {
        @include unimportant;
    }
    .first-present {
        border-top: 1px solid #666;
    }
    .list-ul {
        margin: 0;
        padding: 24px 0 0 0;
        list-style: none;
    }
}

/* navigation */
.navbar {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: $height_nav;
    z-index: 10;
    color: white;
    background: white;
    .app-logo {
        height: $height_nav;
        .queue-not-saved {
            padding-right: 1em;
        }
        .logo {
            line-height: $height_nav;
            font-family: Ubuntu, Georgia, serif;
            font-weight: bold;
            font-size: 22px;
            position: relative;
            &:before {
                display: inline-block;
                content: $none;
                width: $width_logo;
                height: $height_logo;
                vertical-align: middle;
                background: url($nav_img) 0 -56px;
                padding-right: 0.5em;
            }
            .loading-api {
                width: $width_logo - 4;
                height: $height_logo - 4;
                position: absolute;
                left: -2px;
                top: -2px;
                border-radius: 100%;
                border: 4px solid transparent;
                border-top: 4px solid yellow;
                animation: spin 1s infinite steps(64);
            }
        }
    }
    .nav-link-li {
        vertical-align: bottom;
        float: left;
    }
    .nav-list {
        margin: 0;
        list-style: none;
        white-space: nowrap;
        transition: 0.2s opacity;
    }
    .nav-link, .nav-link-btn {
        line-height: 30px;
        cursor: pointer;
        &:hover {
            background: rgba(0, 0, 0, 0.3);
        }
        &:active {
            background: rgba(0, 0, 0, 0.5);
        }
        &:before {
            // icon
            content: $none;
            background-image: url($nav_img);
            width: 28px;
            height: 28px;
        }
    }
}

.login-form {
    z-index: 1001;
    position: fixed;
    left: 50%;
    top: 50%;
    margin-top: -180px;
    margin-left: -194px;
    width: 288px;
    height: 360px;
    padding: 0 50px 50px 50px;
    background: #111;
    border-radius: 4px;
    box-shadow: 0 26px 90px rgba(60, 60, 60, .9);
    h3 {
        margin: 0;
        height: 80px;
        line-height: 80px;
        font-size: 24px;
        text-align: center;
        color: #fefefe;
    }
    .input-pin {
        margin: 0 6px;
        font-size: 64px;
        width: 60px;
        height: 80px;
        position: relative;
        float: left;
        border: none;
        border-radius: 4px;
        background: #333;
        color: transparent;
        text-shadow: 0 0 0px #fefefe;
        text-align: center;
        outline: none;
        transition: background-color linear .1s;
        &.active {
            background-color: #fefefe;
            text-shadow: 0 0 0px #111;
        }
        &.done:after {
            content: $none;
            width: 16px;
            height: 16px;
            background: #fefefe;
            border-radius: 16px;
            position: absolute;
            left: 22px;
            top: 32px;
        }
    }
    .number-input {
        margin: 90px 14px 0 14px;
        background: #3e3e3e;
        box-shadow: inset 0 0 13px rgba(0, 0, 0, 0.5);
        padding: 0 10px 5px 10px;
        .btn-digit {
            margin: 10px 5px;
            width: 70px;
            height: 35px;
            line-height: 35px;
            top: 0;
            padding: 0;
            background-color: #868686;
            background-image: linear-gradient(167deg, rgba(255, 255, 255, 0.1) 50%, rgba(0, 0, 0, 0) 55%),
            linear-gradient(to bottom, rgba(255, 255, 255, 0.15), rgba(0, 0, 0, 0));
            box-shadow: inset 0 0 0 1px #868686,
            inset 0 0 0 2px rgba(255, 255, 255, 0.15),
            0 8px 0 0 #737373,
            0 8px 0 1px rgba(0, 0, 0, 0.4),
            0 8px 8px 1px rgba(0, 0, 0, 0.5);
            color: white;
            border: none;
            border-radius: 5px;
            font-family: "Lucida Grande", Arial, sans-serif;
            font-size: 22px;
            font-weight: bold;
            letter-spacing: -1px;
            position: relative;
            text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
            transition: 0.05s;
            &:active {
                box-shadow: inset 0 0 0 1px #737373,
                inset 0 0 0 2px rgba(255, 255, 255, 0.15),
                0 0 0 1px rgba(0, 0, 0, 0.4);
                transform: translateY(10px);
            }
        }

        .btn-digit-0 {
            margin-left: 85px;
        }
    }
}

.page {
    display: none;
    position: relative;
}

.limit-btn {
    position: fixed;
    left: 50px;
    bottom: 0;
}

.list {
    .date {
        width: 96px;
    }
    .item {
        width: 192px;
    }
    .society,
    .category,
    .holiday {
        width: 192px;
    }
    .value,
    .cost {
        width: 96px;
        text-align: right;
    }
    .shop {
        width: 128px;
    }
    .daily {
        width: 86px;
        height: 100%;
    }
}

.li-add button {
    z-index: 0;
}

/* graphs */
.graph-container {
    height: 300px;
    z-index: 2;
    &.graph-fund-history {
        .label {
            padding: 0.1em 0.2em;
            background: rgba(230, 230, 230, .8);
            color: #111;
            font-weight: bold;
            position: absolute;
            white-space: nowrap;
            z-index: 2;
        }
        .fund-sidebar {
            margin: 0;
            padding: 0;
            position: absolute;
            left: 0;
            top: 0;
            list-style: none;
            width: 10%;
            height: 100%;
            background: linear-gradient(to bottom, rgba(235, 235, 235, 0.8), transparent);
            z-index: 3;
            transition: 0.3s width ease-in-out;
            &:hover {
                width: 40%;
            }
            li {
                line-height: 20px;
                height: 20px;
                width: 100%;
                cursor: default;
                font-size: 0.8em;
                white-space: nowrap;
                position: relative;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            .checkbox {
                display: inline-block;
                position: absolute;
                top: 5px;
                left: 1px;
                width: 6px;
                height: 6px;
                border: 2px solid black;
            }
            .enabled .checkbox {
                width: 0;
                height: 0;
                border-width: 5px;
            }
            .fund {
                padding-left: 12px;
            }
        }
        .mode {
            position: absolute;
            right: 0.2em;
            top: 0.2em;
        }
    }
}

/* block packer graph */
.block-view {
    width: 500px;
    height: 300px;
    position: relative;
    .status-bar {
        position: absolute;
        z-index: 2;
        bottom: 0;
        width: 100%;
        height: 21px;
        line-height: 20px;
        font-size: 16px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        background: #222;
        color: #eaeaea;
        margin-top: -1px;
        .inner {
            padding: 0 0.8em;
        }
    }
    .block-tree-outer {
        height: 280px;
    }
    .block-tree {
        position: relative;
        width: 100%;
        height: 100%;
        overflow: hidden;
        box-shadow: 0 3px 13px rgba(60, 60, 60, 0.4);
        .block-group {
            float: left;
        }
        .expanded {
            .block-group {
                opacity: 0; /* for the expansion animation */
            }
        }

        &.deep > .block-group {
            display: none;
        }
        .deep-block-tree {
            width: 100%;
            height: 100%;
        }
        .block {
            box-shadow: inset 0 0 13px rgba(60, 60, 60, 0.6);
            z-index: 1;
            &:hover {
                z-index: 2;
                box-shadow: inset 0 0 13px rgba(60, 60, 60, 0.6),
                0 0 16px 3px rgba(60, 60, 60, 0.8);
            }
        }
        .sub-block, &.shallow .block {
            transition: opacity 0.1s linear;
            opacity: 1;
            box-shadow: inset -1px -1px 13px rgba(30, 30, 30, 0.4);
            background-image: linear-gradient(to bottom right,
                rgba(255, 255, 255, 0.6), rgba(0, 0, 0, 0.3));
            &.hidden {
                opacity: 0;
            }
        }

        .block, .sub-block {
            @include all-blocks;
        }
        
        .block-0 { background: #d35400; }
        .block-1 { background: #1abc9c; }
        .block-2 { background: #f1c40f; }
        .block-3 { background: #2980b9; }
        .block-4 { background: #27ae60; }
        .block-5 { background: #e74c3c; }
        .block-6 { background: #9b59b6; }
        .block-7 { background: #f70000; }
        .block-8 { background: #f206ff; }
        .block-9 { background: #29afd6; }
        .block-10 { background: #4a9586; }
        .block-11 { background: #b9264f; }
        .block-12 { background: #c27e3a; }
        .block-13 { background: #9d9d00; }
        .block-14 { background: #75b4ff; }
        .block-15 { background: #93bf96; }

        .preview {
            position: absolute;
            z-index: 5;
        }
        .block-bills {
            background: $color_bills;
        }
        .block-food {
            background: $color_food;
        }
        .block-general {
            background: $color_general;
        }
        .block-holiday {
            background: $color_holiday;
        }
        .block-social {
            background: $color_social;
        }
    }
}
        
/* world map */
.graph-world-map {
    .world {
        path {
            fill: rgb(238, 238, 238);
        }
    }
}

/* overview page */
.page-overview {
    .table-flex {
        .active {
            .month {
                background: $color_green;
                color: white;
            }
        }
        .future {
            .month {
                background: $color_amber;
            }
        }
    }
    .month {
        text-align: right;
    }
    .graph-balance {
        .show-all {
            position: absolute;
            right: 0;
            top: 0;
            font-size: 0.9em;
            line-height: 20px;
            padding: 0.1em 0.2em;
            background: rgba(255, 255, 255, 0.4);
            cursor: pointer;
            span {
                vertical-align: middle;
            }
            .checkbox {
                width: 20px;
                height: 20px;
                float: left;
                position: relative;
                &:before {
                    left: 4px;
                    top: 4px;
                    width: 12px;
                    height: 12px;
                    box-shadow: 0 0 0 1px black;
                }
                &:after {
                    left: 7px;
                    top: 7px;
                    width: 6px;
                    height: 6px;
                }
                &:before, &:after {
                    content: $none;
                    position: absolute;
                    border-radius: 100%;
                }
            }
            &.enabled {
                .checkbox:after {
                    background: black;
                }
            }
        }
    }
}

/* funds page */
.page-funds {
    .list {
        .gain {
            font-weight: bold;
        }
    }
}

/* income page */
.page-income {
    .graph-container-pie {
        width: 824px;
    }
}

/* footer */
.footer-outer {
    margin: 5em 0;
    font-size: .9em;
    color: #666;
    text-align: center;
    font-style: italic;
}

