html, body {
    height: 100%;
}

/* overview page */
.page-overview {
    .table-flex {
        width: 890px;
        .past {
            font-size: 13px;
            height: 16px;
            line-height: 16px;
            .editable-input {
                height: 16px;
            }
        }
        .row > .active {
            font-size: 16px;
            height: 24px;
            line-height: 24px;
            .editable-input {
                height: 23px;
            }
        }
        .future {
            font-size: 15px;
            height: 20px;
            line-height: 20px;
            .editable-input {
                height: 20px;
            }
        }
    }
    .graph-balance {
        left: 900px;
        top: $top_nav + 10
    }
    .graph-spend {
        left: 900px;
        top: $top_nav + 320;
    }
    .graph-balance, .graph-spend {
        position: fixed;
    }
}

/* analysis page */
.page-analysis {
    margin: 0.5em 1em;
}

/* income page */
.page-income {
    .graph-container-pie {
        left: 400px;
        top: $top_nav + 60;
    }
}

/* funds page */
.page-funds {
    .stocks-list {
        z-index: 0;
        &::-webkit-scrollbar-track {
            -webkit-box-shadow: none;
        }
        &::-webkit-scrollbar-thumb {
            background-color: rgba(240, 240, 240, 0.3);
        }
        &::-webkit-scrollbar-thumb:hover {
            background-color: rgba(160, 160, 160, 0.9);
        }
        &::-webkit-scrollbar-thumb:active {
            background-color: rgba(240, 240, 240, 0.8);
        }
    }
    .stocks-list, .graph-world-map {
        top: $top_nav + 350;
        left: 1000px;
    }
}

.graph-toggle-btn {
    display: none;
}
.block-view.graph-container {
    left: 824px;
    top: $top_nav + 40;
}

@media screen and (min-width: 1500px) {
    .page-funds {
        .graph-fund-history {
            position: fixed;
            left: 1000px;
            top: 100px;
        }
    }
}
