html, body {
height: 100%;
}

.graph-container {
position: fixed;
z-index: 2;
background: rgba(255, 255, 255, .8);
box-shadow: 0 3px 10px rgba(60, 60, 60, .6);
}

/* overview page */
.page-overview {
.graph-balance {
  left: 900px;
  top: $top_nav + 10
}
.graph-spend {
  left: 900px;
  top: $top_nav + 320;
}
}

/* analysis page */
.page-analysis {
margin: 0.5em 1em;
}

/* income page */
.page-income {
.graph-container-pie {
  left: 400px;
  top: $top_nav + 60;
}
}

/* funds page */
.page-funds {
.stocks-list {
  z-index: 0;
  &::-webkit-scrollbar-track {
    -webkit-box-shadow: none;
  }
  &::-webkit-scrollbar-thumb {
    background-color: rgba(240, 240, 240, 0.3);
  }
  &::-webkit-scrollbar-thumb:hover {
    background-color: rgba(160, 160, 160, 0.9);
  }
  &::-webkit-scrollbar-thumb:active {
    background-color: rgba(240, 240, 240, 0.8);
  }
}
.graph-fund-history {
  width: 500px;
  left: 1000px;
  top: $top_nav + 40;
}
.stocks-list, .graph-world-map {
  top: $top_nav + 350;
  left: 1000px;
}
}

.graph-toggle-btn {
display: none;
}
.block-view.graph-container {
left: 824px;
top: $top_nav + 40;
}

.list-head {
width: 100%;
}

