// Common rules for anything larger than a mobile phone

* {
    &::-webkit-scrollbar {
        width: 0.5em;
    }
    &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 16px -4px rgba(0, 0, 0, 0.3);
    }
    &::-webkit-scrollbar-thumb {
        background-color: rgba(0, 0, 0, 0.3);
        border-radius: 0.5em;
    }
    &::-webkit-scrollbar-thumb:hover {
        background-color: rgba(0, 0, 0, 0.4);
    }
    &::-webkit-scrollbar-thumb:active {
        background-color: rgba(0, 0, 0, 0.6);
    }
}

button {
    display: inline-block;
    box-shadow: inset 0px 1px 0px 0px $color_shadow_btn;
    background: linear-gradient(to bottom, $color_grad_btn_from 5%, $color_grad_btn_to 100%);
    background-color: $color_grad_btn_from;
    border: 1px solid #3b6e22;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 13px;
    font-weight: bold;
    padding: 3px 12px;
    position: relative;
    top: -1px;
    text-decoration: none;
    outline: none;
    z-index: 4;

    &:hover {
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, $color_grad_btn_to), color-stop(1, $color_grad_btn_from));
        background: -moz-linear-gradient(top, $color_grad_btn_to 5%, $color_grad_btn_from 100%);
        background: -webkit-linear-gradient(top, $color_grad_btn_to 5%, $color_grad_btn_from 100%);
        background: -o-linear-gradient(top, $color_grad_btn_to 5%, $color_grad_btn_from 100%);
        background: -ms-linear-gradient(top, $color_grad_btn_to 5%, $color_grad_btn_from 100%);
        background: linear-gradient(to bottom, $color_grad_btn_to 5%, $color_grad_btn_from 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$color_grad_btn_to', endColorstr='$color_grad_btn_from',GradientType=0);
        background-color: $color_grad_btn_to;
    }
    &:active {
        top: 0;
    }
    &:focus {
        background: #699a53;
    }
}

.navbar {
    .inner {
        background: linear-gradient(to bottom, #d84d4d, #9f3030);
        box-shadow: 0 0 6px rgba(40, 40, 40, 0.8);
        width: 100%;
        height: $height_nav;
        &.hide-nav .nav-list {
            opacity: 0;
        }
    }
    .app-logo {
        margin: 0 1em 0 0.5em;
        float: right;
    }
    .nav-list {
        padding: ($height_nav - 30) 0 0 0;
    }
    .nav-link {
        height: 27px;
        border-bottom: 3px solid transparent;
        margin-right: 0.5em;
        text-transform: capitalize;
        display: inline-block;
        float: left;
        position: relative;
        text-decoration: none;
        padding: 0 0.5em 0 35px;
        border-radius: 3px 3px 0 0;
        color: white;
        &.active {
            border-bottom-color: black;
            cursor: default;
            &, &:hover, &:active {
                background: rgba(0, 0, 0, 0.7);
            }
        }
    }
    .nav-link, .nav-link-btn {
        &:before {
            position: absolute;
            left: 5px;
            top: 0;
        }
    }
    .nav-link-overview {
        border-color: #424242;
        &:before {
            background-position: 0 0;
        }
    }
    .nav-link-analysis {
        border-color: $color_analysis;
        &:before {
            background-position: -28px 0;
        }
    }
    .nav-link-funds {
        border-color: $color_funds;
        &:before {
            background-position: -56px 0;
        }
    }
    .nav-link-income {
        border-color: $color_income;
        &:before {
            background-position: -84px 0;
        }
    }
    .nav-link-bills {
        border-color: $color_bills;
        &:before {
            background-position: -112px 0;
        }
    }
    .nav-link-food {
        border-color: $color_food;
        &:before {
            background-position: -140px 0;
        }
    }
    .nav-link-general {
        border-color: $color_general;
        &:before {
            background-position: -168px 0;
        }
    }
    .nav-link-holiday {
        border-color: $color_holiday;
        &:before {
            background-position: 0 -28px;
        }
    }
    .nav-link-social {
        border-color: $color_social;
        &:before {
            background-position: -28px -28px;
        }
    }
    .nav-link-logout {
        border-color: #eee;
        &:before {
            background-position: -56px -28px;
        }
    }
}

.login-form {
    width: 300px;
    height: 450px;
    margin-top: -225px;
    margin-left: -150px;
    h3 {
        height: 60px;
        line-height: 60px;
    }
    .pin-display {
        margin: 0 12px 16px 12px;
        .input-pin {
            height: 80px;
        }
    }
    .number-input {
        height: 280px;
        .btn-digit {
            font-size: 40px;
        }
    }
}

// graphs
.graph-container-outer {
    display: inline-block;
}
.graph-container {
    width: 500px;
}

// editable items
.editable {
    display: inline-block;
    position: relative;
    width: 100%;
    &.editing {
        .text {
            display: none;
        }
    }
}
.editable.editing,
.li-add .editable {
    overflow: visible !important;
}
.editable-input {
    margin: 0;
    min-width: 10px;
    width: 100%;
    border: 0;
    padding: 0;
    outline: none;
    font: inherit;
    text-align: left;
    box-shadow: inset 0 0 0px 1px darkorange;
}
.editable-suggestion {
    color: #2062ab;
    position: absolute;
    left: 0;
    top: 0;
    font-size: inherit;
}

.editable-value,
.editable-cost {
    text-align: right;
}

.graph-container {
    z-index: 2;
    background: rgba(255, 255, 255, .8);
    box-shadow: 0 3px 10px rgba(60, 60, 60, .6);
}

// lists
.list {
}

.list-insert {
    .list-head {
        position: fixed;
        left: 0;
        z-index: 4;
        font-weight: bold;
        line-height: 24px;
        text-transform: capitalize;
        white-space: nowrap;

        top: $top_nav - 10;
        
        .weekly, .weekly-value, .total, .total-value {
            margin-left: 0.2em;
            padding-left: 0.2em;
        }
        span {
            text-align: left;
            padding-left: 1px;
            vertical-align: middle;
            line-height: 24px;
        }
    }
    .list-head-inner {
        display: flex;
        flex-flow: row;
        
        padding-top: 10px;
        border-bottom: 1px solid #999;
        width: 100%;
        height: 24px;
        background: white;
    }

    li, .list-head-inner {
        & > span {
            flex-basis: 0;

            &.date {
                flex-basis: 96px;
            }
            &.item, &.category, &.society, &.holiday {
                flex-basis: 192px;
            }
            &.value, &.cost {
                flex-basis: 96px;
                justify-content: right;
            }
            &.shop {
                flex-basis: 128px;
            }
            &.daily {
                flex-basis: 86px;
            }
        }
    }

    .future {
        @include unimportant;
    }
    .first-present {
        border-top: 1px solid #666;
    }
    
    .list-ul {
        display: flex;
        flex-flow: column;
        
        margin: 0;
        padding: 24px 0 0 0;
        list-style: none;
        width: 100%;

        .progress {
            position: absolute;
            right: 2px;
            top: 3px;
        }

        & > li {
            display: flex;
            flex-flow: row;

            width: 100%;
            height: 24px;
            line-height: 24px;
        }
        & > li:nth-child(2n+1) {
            background: rgba(220, 220, 220, 0.4);
        }
        li {
            &:not(.li-add) > span {
                overflow: hidden;
            }
            & > span {
                position: relative;
                text-overflow: ellipsis;
                border-right: 1px solid #ccc;
                vertical-align: top;
                height: inherit;

                & > span {
                    white-space: nowrap;
                    &.active {
                        overflow: visible;
                    }
                }
            }
        }
        .editable, .editable-input {
            height: inherit;
        }
        .text {
            margin-right: 2px;
            padding: 0 2px;
        }
        .delete {
            flex-basis: 16px;

            margin: 4px;
            cursor: pointer;
            color: white;
            background: #de3737;
            font-size: 20px;
            width: 16px;
            height: 16px;
            line-height: 16px;
            vertical-align: middle;
            text-align: center;
            border-radius: 100%;
        }
        .suggestions {
            margin: 0;
            padding: 0;
            position: absolute;
            width: 100%;
            z-index: 10;
            overflow: hidden;
            text-overflow: ellipsis;
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
            background: rgba(255, 255, 255, 0.9);
        }
        .suggestion {
            margin: 1px 0;
            padding: 2px;
            cursor: default;
        }
        .suggestion.active {
            background: #09e;
            color: white;
        }
    }
}

.page-overview {
    .table-flex {
        cursor: default;
        .editable-outer {
            width: 80px;
            &.editing {
                padding: 0;
            }
        }
        .header {
            .col {
                &.month, &.income {
                    border: none;
                }
            }
        }
        .col {
            &.month {
                border-right: 3px solid #222;
            }
            &.funds, &.bills, &.food, &.general, &.holiday, &.social, &.income, &.spending {
                flex-grow: 0.7;
            }
            &.income {
                border-left: 3px solid #222;
            }
            &.net {
                flex-grow: 1;
                border-right: 3px solid #efefef;
            }
            &.predicted {
                flex-grow: 0.9;
                font-style: italic;
            }
            &.balance {
                flex-grow: 1.2;
            }
            .text {
                padding: 0 2px;
            }
            &.balancePred {
                display: none;
            }
        }
        .editable-input {
            right: 0;
            top: 0;
            padding: 0;
        }
        .past {
            @include unimportant;
        }
        .active {
            font-weight: bold;
        }
        .future {
        }
    }
}

.page-funds {
    .list-head {
        .gain {
            margin-left: 0.5em;
            text-transform: none;
            span {
                padding: 0 0.25em;
                margin-left: 0.25em;
            }
            &.profit {
                background: #ccffd5;
            }
            &.loss {
                background: #ffa7a7;
            }
        }
    }
    .list-ul {
        span.item {
            flex-basis: 376px;
        }
        .fund-extra-info {
            display: flex;
            flex-basis: initial;
            flex-wrap: nowrap;
        }
        .transactions {
            flex-basis: 102px;
            overflow: visible;
            .modal {
                position: absolute;
                left: 0;
                top: 0;
                width: 300px;
                min-height: 100px;
                z-index: 5;
                line-height: 26px;
                background: rgba(255, 255, 255, 0.9);
                box-shadow: 0 3px 6px rgba(60, 60, 60, 0.3);
                input {
                    width: 95%;
                }
                thead {
                    font-size: 0.9em;
                }
                .inner {
                    padding: 0.2em;
                }
            }
            .text {
                display: none;
            }
        }
    }
    .list-ul {
        .num-transactions {
            display: block;
            text-align: center;
        }
        & > li:nth-child(n+3) {
            height: 48px;
            line-height: 48px;
            .fund-extra-info > .gain {
                width: 200px;
                height: 100%;
            }
        }
        .fund-graph {
            height: 100%;
        }
        .gain {
            .text {
                display: block;
                width: 100%;
                > span {
                    padding: 0;
                }
            }
            .profit {
                color: #483be4;
            }
            .loss {
                color: #ff2c2c;
            }
            .value {
                font-size: 1.1em;
                width: 40%;
                color: #333;
            }
            .gain-abs, .day-gain-abs, .price, .gain, .day-gain {
                font-size: 0.8em;
                line-height: 24px;
                height: 24px;
                background: rgba(255, 255, 255, 0.8);
            }
            .gain-abs, .day-gain-abs {
                width: 15%;
                &.profit:before {
                    content: $text_up_arrow;
                }
                &.loss:before {
                    content: $text_down_arrow;
                }
                &:before {
                    font-style: normal;
                    font-weight: normal;
                    margin-right: 0.2em;
                }
            }
            .gain-abs, .day-gain-abs, .gain, .day-gain {
                width: 30%;
            }
        }
        .sold {
            color: #ccc;
            .fund-graph {
                filter: grayscale(100%);
            }
            .gain {
                font-style: italic;
                font-weight: normal;
            }
            .fund-graph:before, .gain:before {
                content: $none;
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                background: rgba(255, 255, 255, 0.5);
                z-index: 1;
            }
        }
    }
    .gain {
        display: inline-block;
        .text {
            padding: 0;
            height: 100%;
            background: #666;
            &>span {
                float: left;
                padding: 0 1px;
                overflow: hidden;
                text-overflow: ellipsis;
                text-align: center;
            }
        }
        .value {
            width: 68px;
            text-align: left;
        }
        .abs {
            width: 64px;
            text-align: left ;
        }
        .pct {
            width: 62px;
            text-align: right;
        }
    }
    .graph-fund-history {
        position: relative;
    }
    .graph-stocks {
        position: static;
        box-shadow: none;
        width: 260px;
        height: 50px;
    }
    .fund-graph {
        display: inline-block;
        width: 100px;
        .fund-graph-cont {
            .graph-container {
                width: 100px;
                height: 48px;
                position: static;
                background: transparent;
            }
            .popout {
                position: fixed;
                z-index: 10;
                background: rgba(255, 255, 255, 0.8);
                box-shadow: 0 3px 7px rgba(20, 20, 20, 0.3);
                width: 300px;
                height: 120px;
            }
        }
    }
    .graph-container-pie {
        width: 500px;
        left: 1000px;
    }
    .stocks-list {
        width: 500px;
        height: 300px;
        font-size: 0.8em;
        .graph-container {
            background: #121212;
            color: white;
        }
        
        span {
            display: inline-block;
        }
        
        li {
            @include stocks-list-price-change;
            border-bottom: 1px solid #222;
            padding-top: 1px;

            &.up.hl-up {
                background-color: $color_bg_up_hl;
            }
            &.up.hl-down {
                background-color: $color_bg_up_rev;
            }
            &.down.hl-up {
                background-color: $color_bg_down_rev;
            }
            &.down.hl-down {
                background-color: $color_bg_down_hl;
            }

            &:nth-child(2n+1) {
                background: #0e0e0e;
            }
        }
            
        .change {
            &:after {
                display: inline-block;
                width: 10px;
                height: 2px;
                content: $none;
                vertical-align: middle;
                background: turquoise;
            }
        }
        
        .stocks-list-ul {
            margin: 0;
            width: 350px;
            height: 100%;
            overflow-y: scroll;
            float: left;
            padding: 0;
            list-style: none;
            font-size: 13pt;

            span {
                white-space: nowrap;
                line-height: 20px;
                vertical-align: top;
            }
            .name-column {
                width: 68%;
                text-overflow: ellipsis;
                overflow: hidden;

                .code, .title {
                }
                .code {
                    margin: 1px;
                    padding-right: 4px;
                    line-height: 18px;
                    color: white;
                    font-size: 11pt;
                    background: rgba(0, 0, 0, 0.3);
                }
                .title {
                    color: #999;
                    font-size: 8pt;
                    width: 100%;
                }
            }
            .price, .change {
                width: 16%;
                font-size: 10pt;
                color: white;
                text-align: right;
            }
            .up .change {
               color: $color_bg_up;
            }
            .down .change {
               color: $color_bg_down;
            }
            
            .hl-up, .hl-down {
                font-weight: bold;
            }
        }
        .stocks-sidebar {
            width: 150px;
            height: 100%;
            float: right;
            text-align: right;
            ul {
                margin: 0;
                padding: 0;
                list-style: none;
            }
            .graph-container {
                width: auto;
                height: auto;
                box-shadow: none;
                position: static;
                background: none;
            }
            .name-column {
                width: 60%;
                color: #eee;
                font-style: italic;
                .title:after {
                    content: ": ";
                }
            }
            .code, .price {
                display: none;
            }
            .price, .change {
                width: 40%;
            }
        }
    }
}

/* analysis page */
.page-analysis {
    .upper {
        margin: 0.3em 0;
    }
    .input-period,
    .input-grouping {
        margin: 0 1em;
    }
    .btns {
        float: right;
    }
    .period-title {
        margin: 0.3em 1em;
        font-size: 1.2em;
    }
    .tree {
        margin: 1em;
        min-width: 400px;
    }
    .tree-list {
        & > .tree-list-item > .main:hover {
            background: #039cff;
        }
    }
    .block-view {
        flex-basis: 500px;
        height: 500px;
        .block-tree-outer {
        }
        .block, .sub-block {
            &.active {
                background: rgba(255, 255, 0, 0.85);
            }
        }
    }
}

