// Common rules for anything larger than a mobile phone

.navbar {
    padding-bottom: 10px;
    .inner {
        background: linear-gradient(to bottom, #d84d4d, #9f3030);
        box-shadow: 0 0 6px rgba(40, 40, 40, 0.8);
        width: 100%;
        height: $height_nav;
        &.hide-nav .nav-list {
            opacity: 0;
        }
    }
    .app-logo {
        margin: 0 1em 0 0.5em;
        float: right;
    }
    .nav-list {
        padding: ($height_nav - 30) 0 0 0;
    }
    .nav-link-li {
        height: 27px;
        border-bottom: 3px solid transparent;
        margin-right: 0.5em;
    }
    .nav-link {
        display: inline-block;
        float: left;
        position: relative;
        padding: 0 0.5em 0 35px;
        border-radius: 3px 3px 0 0;
        color: white;
        &.active {
            border-bottom-color: black;
            cursor: default;
            &, &:hover, &:active {
                background: rgba(0, 0, 0, 0.7);
            }
        }
    }
    .nav-link, .nav-link-btn {
        &:before {
            position: absolute;
            left: 5px;
            top: 0;
        }
    }
    .nav-link-overview {
        border-color: #424242;
        .nav-link {
            &:before {
                background-position: 0 0;
            }
        }
    }
    .nav-link-analysis {
        border-color: #f4a742;
        .nav-link {
            &:before {
                background-position: -28px 0;
            }
        }
    }
    .nav-link-funds {
        border-color: #546e7a;
        .nav-link {
            &:before {
                background-position: -56px 0;
            }
        }
    }
    .nav-link-income {
        border-color: #d84315;
        .nav-link {
            &:before {
                background-position: -84px 0;
            }
        }
    }
    .nav-link-bills {
        border-color: rgb(183, 28, 28);
        .nav-link {
            &:before {
                background-position: -112px 0;
            }
        }
    }
    .nav-link-food {
        border-color: rgb(67, 160, 71);
        .nav-link {
            &:before {
                background-position: -140px 0;
            }
        }
    }
    .nav-link-general {
        border-color: rgb(1, 87, 155);
        .nav-link {
            &:before {
                background-position: -168px 0;
            }
        }
    }
    .nav-link-holiday {
        border-color: rgb(0, 137, 123);
        .nav-link {
            &:before {
                background-position: 0 -28px;
            }
        }
    }
    .nav-link-social {
        border-color: rgb(191, 158, 36);
        .nav-link {
            &:before {
                background-position: -28px -28px;
            }
        }
    }
    .nav-link-logout {
        border-color: #eee;
        .nav-link {
            &:before {
                background-position: -56px -28px;
            }
        }
    }
}

// graphs
.graph-container {
    width: 500px;
}

.page-overview {
    .table-flex {
        width: 890px;
        cursor: default;
        .editable-outer {
            width: 80px;
            &.editing {
                padding: 0;
            }
        }
        .col {
            &.month {
                flex-grow: 1;
                border-right: 3px solid #222;
            }
            &.stocks, &.bills, &.food, &.general, &.holiday, &.social, &.net {
                flex-grow: 0.7;
            }
            &.income {
                border-left: 3px solid #222;
            }
            &.net {
                border-right: 3px solid #efefef;
            }
            &.balance {
                flex-grow: 1.2;
            }
            .text {
                padding: 0 2px;
            }
        }
        .editable-input {
            right: 0;
            top: 0;
            padding: 0;
        }
        .past {
            @include unimportant;
            height: 16px;
            line-height: 16px;
            font-size: 13px;
            .editable-input {
                height: 16px;
            }
        }
        .active {
            font-weight: bold;
            font-size: 16px;
            height: 24px;
            line-height: 24px;
            .editable-input {
                height: 23px;
            }
        }
        .future {
            font-size: 15px;
            height: 20px;
            line-height: 20px;
            .editable-input {
                height: 20px;
            }
        }
    }
}

