// Common rules for anything larger than a mobile phone

* {
    &::-webkit-scrollbar {
        width: 0.5em;
    }
    &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 16px -4px rgba(0, 0, 0, 0.3);
    }
    &::-webkit-scrollbar-thumb {
        background-color: rgba(0, 0, 0, 0.3);
        border-radius: 0.5em;
    }
    &::-webkit-scrollbar-thumb:hover {
        background-color: rgba(0, 0, 0, 0.4);
    }
    &::-webkit-scrollbar-thumb:active {
        background-color: rgba(0, 0, 0, 0.6);
    }
}

.navbar {
    padding-bottom: 10px;
    .inner {
        background: linear-gradient(to bottom, #d84d4d, #9f3030);
        box-shadow: 0 0 6px rgba(40, 40, 40, 0.8);
        width: 100%;
        height: $height_nav;
        &.hide-nav .nav-list {
            opacity: 0;
        }
    }
    .app-logo {
        margin: 0 1em 0 0.5em;
        float: right;
    }
    .nav-list {
        padding: ($height_nav - 30) 0 0 0;
    }
    .nav-link-li {
        height: 27px;
        border-bottom: 3px solid transparent;
        margin-right: 0.5em;
    }
    .nav-link {
        display: inline-block;
        float: left;
        position: relative;
        padding: 0 0.5em 0 35px;
        border-radius: 3px 3px 0 0;
        color: white;
        &.active {
            border-bottom-color: black;
            cursor: default;
            &, &:hover, &:active {
                background: rgba(0, 0, 0, 0.7);
            }
        }
    }
    .nav-link, .nav-link-btn {
        &:before {
            position: absolute;
            left: 5px;
            top: 0;
        }
    }
    .nav-link-overview {
        border-color: #424242;
        .nav-link {
            &:before {
                background-position: 0 0;
            }
        }
    }
    .nav-link-analysis {
        border-color: #f4a742;
        .nav-link {
            &:before {
                background-position: -28px 0;
            }
        }
    }
    .nav-link-funds {
        border-color: #546e7a;
        .nav-link {
            &:before {
                background-position: -56px 0;
            }
        }
    }
    .nav-link-income {
        border-color: $color_income;
        .nav-link {
            &:before {
                background-position: -84px 0;
            }
        }
    }
    .nav-link-bills {
        border-color: $color_bills;
        .nav-link {
            &:before {
                background-position: -112px 0;
            }
        }
    }
    .nav-link-food {
        border-color: $color_food;
        .nav-link {
            &:before {
                background-position: -140px 0;
            }
        }
    }
    .nav-link-general {
        border-color: $color_general;
        .nav-link {
            &:before {
                background-position: -168px 0;
            }
        }
    }
    .nav-link-holiday {
        border-color: $color_holiday;
        .nav-link {
            &:before {
                background-position: 0 -28px;
            }
        }
    }
    .nav-link-social {
        border-color: $color_social;
        .nav-link {
            &:before {
                background-position: -28px -28px;
            }
        }
    }
    .nav-link-logout {
        border-color: #eee;
        .nav-link {
            &:before {
                background-position: -56px -28px;
            }
        }
    }
}

// graphs
.graph-container {
    width: 500px;
}

// editable items
.editable {
    display: inline-block;
    position: relative;
    width: 100%;
    &.editing {
        .text {
            display: none;
        }
    }
}
.editable.editing,
.li-add .editable {
    overflow: visible !important;
}
.editable-input {
    margin: 0;
    min-width: 10px;
    width: 100%;
    border: 0;
    padding: 0;
    outline: none;
    font: inherit;
    text-align: left;
    box-shadow: inset 0 0 0px 1px darkorange;
}
.editable-suggestion {
    color: #2062ab;
    position: absolute;
    left: 0;
    top: 0;
    font-size: inherit;
}

.editable-value,
.editable-cost {
    text-align: right;
}

// lists
.list-insert {
    .list-head {
        top: $top_nav;
        border-bottom: 1px solid #999;
        height: 24px;
        background: white;
    }
    .list-ul {
        bottom: 0;
        .progress {
            position: absolute;
            right: 2px;
            top: 3px;
        }

        & > li {
            width: 100%;
            height: 24px;
            line-height: 24px;
            white-space: nowrap;
        }
        & > li:nth-child(2n) {
            background: rgba(220, 220, 220, 0.4);
        }
        li > span {
            display: inline-block;
            position: relative;
            text-overflow: ellipsis;
            border-right: 1px solid #ccc;
            vertical-align: top;
            overflow: hidden;
            height: inherit;
            &.active {
                overflow: visible;
            }
        }
        .editable, .editable-input {
            height: inherit;
        }
        .text {
            margin-right: 2px;
            padding: 0 2px;
        }
        .delete {
            display: inline-block;
            margin: 4px;
            cursor: pointer;
            color: white;
            background: #de3737;
            font-size: 20px;
            width: 16px;
            height: 16px;
            line-height: 16px;
            vertical-align: middle;
            text-align: center;
            border-radius: 100%;
        }
        .suggestions {
            margin: 0;
            padding: 0;
            position: absolute;
            width: 100%;
            z-index: 10;
            overflow: hidden;
            text-overflow: ellipsis;
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
            background: rgba(255, 255, 255, 0.9);
        }
        .suggestion {
            margin: 1px 0;
            padding: 2px;
            cursor: default;
        }
        .suggestion.active {
            background: #09e;
            color: white;
        }
    }
}

.page-overview {
    .table-flex {
        width: 890px;
        cursor: default;
        .editable-outer {
            width: 80px;
            &.editing {
                padding: 0;
            }
        }
        .col {
            &.month {
                flex-grow: 1;
                border-right: 3px solid #222;
            }
            &.funds, &.bills, &.food, &.general, &.holiday, &.social, &.net {
                flex-grow: 0.7;
            }
            &.income {
                border-left: 3px solid #222;
            }
            &.net {
                border-right: 3px solid #efefef;
            }
            &.balance {
                flex-grow: 1.2;
            }
            .text {
                padding: 0 2px;
            }
            &.balancePred {
                display: none;
            }
        }
        .editable-input {
            right: 0;
            top: 0;
            padding: 0;
        }
        .past {
            @include unimportant;
            height: 16px;
            line-height: 16px;
            font-size: 13px;
            .editable-input {
                height: 16px;
            }
        }
        .active {
            font-weight: bold;
            font-size: 16px;
            height: 24px;
            line-height: 24px;
            .editable-input {
                height: 23px;
            }
        }
        .future {
            font-size: 15px;
            height: 20px;
            line-height: 20px;
            .editable-input {
                height: 20px;
            }
        }
    }
}
