@mixin stocks-list-price-change {
    .change:after {
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: none;
        background: none;
        width: 0;
        height: 0;
        top: 3px;
    }
    &.up {
        .change {
            color: $color_bg_up;
        }
        .change:after {
            border-bottom: 5px solid #00c100;
        }
        &.hl-up {
            background-color: $color_bg_up_hl;
        }
        &.hl-down {
            background-color: $color_bg_up_rev;
        }
    }
    &.down {
        color: $color_bg_down;
        .change:after {
            border-top: 5px solid #e22121;
        }
        &.hl-down {
            background-color: $color_bg_down_hl;
        }
        &.hl-up {
            background-color: $color_bg_down_rev;
        }
    }
    &.hl-up .change, &.hl-down .change {
        font-weight: bold;
    }
}

@mixin unimportant {
    color: #333;
    font-style: italic;
}

