$width-page-mobile-small: $widthPageMobileSmall + px;
$width-page-mobile: $widthPageMobile + px;
$width-page-tablet: $widthPageTablet + px;
$width-page-tablet-small: $widthPageTabletSmall + px;
$graph-overview-height-mobile: $graphOverviewHeightMobile + px;
$graph-funds-height-mobile: $graphFundsHeightMobile + px;
