// colors
$color-grad-btn-from:   #74ad5a;
$color-grad-btn-to:     #68a54b;
$color-shadow-btn:      #9acc85;
$color-green:           #009933;
$color-amber:           #fbe07f;

$color-primary:         #fffef7;
$color-primary-light:   #f5b831;
$color-primary-dark:    #9f3030;

$color-bg-up:           #55e836;
$color-bg-up-hl:        #122d0c;
$color-bg-up-rev:       #332c2c;
$color-bg-down:         #ff1717;
$color-bg-down-hl:      #2f0f0f;
$color-bg-down-rev:     #2c332d;

$color-saved:           #113822;
$color-analysis:        #f4a742;
$color-funds:           #546e7a;
$color-income:          #d84315;
$color-bills:           #b71c1c;
$color-food:            #43a047;
$color-general:         #01579b;
$color-holiday:         #00897b;
$color-social:          #bf9e24;

$color-funds-light:     rgb(194, 221, 234);
$color-income-light:    rgb(255, 197, 179);
$color-bills-light:     rgb(234, 190, 182);
$color-food-light:      rgb(165, 212, 166);
$color-general-light:   rgb(170, 200, 224);
$color-holiday-light:   rgb(162, 222, 215);
$color-social-light:    rgb(217, 202, 148);

// responsive design parameters (injected from webpack)
$width-page-mobile-small: $widthPageMobileSmall + px;
$width-page-mobile: $widthPageMobile + px;
$width-page-tablet-min: $widthPageMobile + 1;
$width-page-tablet: $widthPageTablet + px;
$width-page-tablet-small: $widthPageTabletSmall + px;
$width-page-desktop-min: $widthPageTablet + 1;

// common variables
$width-logo:  30px;
$height-logo: 30px;
$height-nav:  49px;

$top-nav: $height-nav + 10;

$nav-img: "../images/nav.png";

// mobile variables
$height-header-mobile: 55px;
$height-nav-mobile: 45px;
$color-mob-primary: #fffef7;
$color-mob-primary-dark: #9f3030;
$color-mob-accent: #ffa040;
$color-mob-overview-tbl-month: #fffca3;
$color-mob-overview-tbl-income: #b7ffa3;
$color-mob-overview-tbl-spending: #ffa3a3;
$color-mob-overview-tbl-balance: #a3baff;

// text
$text-show-graph: "Show";
$text-hide-graph: "Hide";
$none: "";
$text-down-arrow: "\25be";
$text-up-arrow: "\25b4";
$bracket-left: "(";
$bracket-right: ")";

