@font-face {
  font-family: lcd;
  src: url(fonts/erbos_draco_1st_open_nbp.woff);
}

body {
  font: 1em Arial, Helvetica, sans-serif;
  margin: 0;
}

body.wait * {
  cursor: wait !important;
}

*::-webkit-scrollbar {
  width: 0.5em;
}
*::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 16px -4px rgba(0, 0, 0, 0.3);
}
*::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 0.5em;
}
*::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.4);
}
*::-webkit-scrollbar-thumb:active {
  background-color: rgba(0, 0, 0, 0.6);
}

button {
	-moz-box-shadow:inset 0px 1px 0px 0px #9acc85;
	-webkit-box-shadow:inset 0px 1px 0px 0px #9acc85;
	box-shadow:inset 0px 1px 0px 0px #9acc85;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #74ad5a), color-stop(1, #68a54b));
	background:-moz-linear-gradient(top, #74ad5a 5%, #68a54b 100%);
	background:-webkit-linear-gradient(top, #74ad5a 5%, #68a54b 100%);
	background:-o-linear-gradient(top, #74ad5a 5%, #68a54b 100%);
	background:-ms-linear-gradient(top, #74ad5a 5%, #68a54b 100%);
	background:linear-gradient(to bottom, #74ad5a 5%, #68a54b 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#74ad5a', endColorstr='#68a54b',GradientType=0);
	background-color:#74ad5a;
	border:1px solid #3b6e22;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	font-weight:bold;
	padding:3px 12px;
	position:relative;
  top: -1px;
	text-decoration:none;
  outline: none;
  z-index: 4;
}
button:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #68a54b), color-stop(1, #74ad5a));
	background:-moz-linear-gradient(top, #68a54b 5%, #74ad5a 100%);
	background:-webkit-linear-gradient(top, #68a54b 5%, #74ad5a 100%);
	background:-o-linear-gradient(top, #68a54b 5%, #74ad5a 100%);
	background:-ms-linear-gradient(top, #68a54b 5%, #74ad5a 100%);
	background:linear-gradient(to bottom, #68a54b 5%, #74ad5a 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#68a54b', endColorstr='#74ad5a',GradientType=0);
	background-color:#68a54b;
}
button:active {
	top: 0;
}

@keyframes spin {
	to { transform: rotate(1turn); }
}

.progress-outer {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 500;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.8);
  display: none;
}
.progress-inner {
  width: 20em;
  height: 20em;
  position: fixed;
  left: 50%;
  top: 50%;
  margin-left: -10em;
  margin-top: -10em;
	font-size: 6px;
  background: white;
  border-radius: 2em;
  box-shadow: inset 0 0 19px -3px rgba(60, 60, 60, 0.4);
}
.progress-inner .progress {
	margin: 7.5em;
}

.progress-small {
  width: 18em;
  height: 5em;
  position: fixed;
  left: 50%;
  top: -5em;
  margin-left: -9em;
  z-index: 499;
  font-size: 6px;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 6px rgba(60, 60, 60, 0.4);
  border-radius: 0 0 2em 2em;
  transition: top 0.3s ease-in-out;
}
.progress-small .progress {
  margin: 0 6.5em;
}

.progress {
	position: relative;
	display: inline-block;
	width: 5em;
	height: 5em;
	text-indent: 999em;
	overflow: hidden;
	animation: spin 1s infinite steps(8);
}
.progress:before,
.progress:after,
.progress > div:before,
.progress > div:after {
	content: '';
	position: absolute;
	top: 0;
	left: 2.25em; /* (container width - part width)/2  */
	width: .5em;
	height: 1.5em;
	border-radius: .2em;
	background: #eee;
	box-shadow: 0 3.5em #eee; /* container height - part height */
	transform-origin: 50% 2.5em; /* container height / 2 */
}
.progress:before {
	background: #555;
}
.progress:after {
	transform: rotate(-45deg);
	background: #777;
}
.progress > div:before {
	transform: rotate(-90deg);
	background: #999;
}
.progress > div:after {
	transform: rotate(-135deg);
	background: #bbb;
}

.progress-tiny {
  width: 18px;
  height: 18px;
}
.progress-tiny:before,
.progress-tiny:after,
.progress-tiny > div:before,
.progress-tiny > div:after {
  left: 8px;
  width: 2px;
  height: 6px;
  border-radius: 2px;
  box-shadow: 0 12px #8ecbff;
  transform-origin: 50% 9px;
  background: #8ecbff;
}
.progress-tiny:before {
  background: #3c6b94;
}

#nav-outer {
  z-index: 5;
  height: 30px;
}
#nav-outer .progress {
  position: absolute;
  right: 0;
  top: 0;
}

.list-ul .progress {
  position: absolute;
  right: 2px;
  top: 3px;
}

#bg {
  position: fixed;
  background: #fff;
  width: 100%;
  height: 100%;
  z-index: 1000;
  left: 0;
  top: 0;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}
  
#doc-outer {
  padding-top: 31px;
}

.table-insert {
  border-collapse: collapse;
}
.table-insert th {
  text-transform: capitalize;
  text-align: center;
}
.table-insert td {
  font-size: .9em;
  padding: 2px 3px;
}
.table-insert .cost {
  text-align: right;
  width: 96px;
}
.table-insert .date {
  width: 96px;
}
.table-insert .item,
.table-isnert .category {
  width: 192px;
}

.list-insert {
}
.list {
}

.list-head {
  position: fixed;
  top: 31px;
  left: 0;
  z-index: 4;
  background: white;
  font-weight: bold;
  border-bottom: 1px solid #999;
  height: 24px;
  line-height: 24px;
  text-transform: capitalize;
  white-space: nowrap;
}
.list-head span {
  display: inline-block;
  text-align: left !important;
  padding-left: 1px;
}

.list-ul {
  list-style: none;
  padding: 24px 0 0 0;
  margin: 0;
  bottom: 0;
}
.list-ul > li {
  width: 100%;
  height: 24px;
  line-height: 24px;
  white-space: nowrap;
}
.list-ul > li:nth-child(2n) {
  background: #eee;
}
.list-ul li > span {
  display: inline-block;
  position: relative;
  text-overflow: ellipsis;
  border-right: 1px solid #ccc;
  vertical-align: top;
  overflow: hidden;
}
.list-ul .text {
  margin-right: 2px;
  padding: 0 2px;
}

.list-ul .suggestions {
  margin: 0;
  padding: 0;
  position: absolute;
  width: 100%;
  max-height: 0;
  z-index: 10;
  overflow: hidden;
  text-overflow: ellipsis;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
  background: rgba(255, 255, 255, 0.9);
  /*transition: .2s ease-in-out max-height;*/
}
.list-ul .suggestions.active {
  max-height: initial;
}
.list-ul .suggestion {
  margin: 1px 0;
  padding: 2px;
  cursor: default;
}
.list-ul .suggestion.active {
  background: #09e;
  color: white;
}

.list-add {
}

#nav-outer {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  background: #fff;
}
#nav-inner {
  height: 30px;
  border-bottom: 1px solid #333;
}

#doc-inner {
  position: relative;
}

#login-form {
  display: none;
  z-index: 1001;
  position: fixed;
  left: 50%;
  top: 50%;
  margin-top: -115px;
  margin-left: -194px;
  width: 288px;
  height: 130px;
  padding: 0 50px 50px 50px;
  background: #111;
  border-radius: 4px;
  box-shadow: 0 26px 90px rgba(60, 60, 60, .9);
}
#login-form h3 {
  margin: 0;
  height: 80px;
  line-height: 80px;
  font-size: 24px;
  text-align: center;
  color: #fefefe;
}
.input-pin {
  font-size: 64px;
  width: 60px;
  height: 80px;
  margin: 0 6px;
  position: relative;
  float: left;
  border: none;
  border-radius: 4px;
  background: #333;
  color: transparent;
  text-shadow: 0 0 0px #fefefe;
  text-align: center;
  outline: none;
  transition: background-color linear .1s;
}
.input-pin.active {
  background-color: #fefefe;
  text-shadow: 0 0 0px #111;
}
.input-pin.done:after {
  content: '';
  width: 16px;
  height: 16px;
  background: #fefefe;
  border-radius: 16px;
  position: absolute;
  left: 22px;
  top: 32px;
}

.nav-list {
  list-style: none;
  margin: 0;
  padding: 5px 1em 0 1em;
}
.nav-list li {
  display: inline-block;
  vertical-align: bottom;
}
.nav-link, .nav-link-btn {
  float: left;
  line-height: 24px;
  height: 24px;
  border: 1px solid #999;
  border-bottom: 0;
  padding: 0 1em;
  cursor: pointer;
  margin: 0 .1em;
  position: relative;
}
.nav-link:hover, .nav-link-btn:hover {
  background: #eee;
}
.nav-link:active, .nav-link-btn:active {
  background: #bbb;
}
.nav-link:before,
.nav-link:after, .nav-link-btn:after {
  content: '';
  display: block;
  position: absolute;
  width: 90%;
  left: 5%;
  height: 3px;
}
.nav-link:before, .nav-link-btn:before {
  top: 0;
  display: none;
}
.nav-link:after, .nav-link-btn:after {
  bottom: 0;
}
.nav-link.active:before {
  display: block;
}

#nav-link-overview:before,
#nav-link-overview:after {
  background: #424242;
}
#nav-link-funds:before,
#nav-link-funds:after {
  background: #546e7a;
}
#nav-link-in:before,
#nav-link-in:after {
  background: #d84315;
}
#nav-link-bills:before,
#nav-link-bills:after {
  background: rgb(183, 28, 28);
}
#nav-link-food:before,
#nav-link-food:after {
  background: rgb(67, 160, 71);
}
#nav-link-general:before,
#nav-link-general:after {
  background: rgb(1, 87, 155);
}
#nav-link-holiday:before,
#nav-link-holiday:after {
  background: rgb(0, 137, 123);
}
#nav-link-social:before,
#nav-link-social:after {
  background: rgb(191, 158, 36);
}

.page {
  position: relative;
  display: none;
}

.limit-btn {
  position: fixed;
  left: 50px;
  bottom: 0;
}

.editable {
  position: relative;
}
.editable.editing,
.li-add .editable {
  overflow: visible;
}
.editable.editing .text {
  display: none;
}
.editable-input {
  min-width: 10px;
  width: 100%;
  border: 0;
  padding: 0 2px;
  margin: 0;
  outline: none;
  font: inherit;
  text-align: left;
  box-shadow: inset 0 0 0px 1px darkorange;
}
.editable-suggestion {
  color: #2062ab;
  position: absolute;
  left: 0;
  top: 0;
  font-size: inherit;
}

.editable-value,
.editable-cost {
  text-align: right;
}

.list .date {
  width: 96px;
}
.list .item {
  width: 192px;
}
.list .society,
.list .category,
.list .holiday {
  width: 192px;
}
.list .value,
.list .cost {
  width: 96px;
  text-align: right;
}
.list .shop {
  width: 128px;
}
.list .daily {
  width: 86px;
  height: 100%;
}

.list-food {
}

.date .editable-input { max-width: 92px; }
.item .editable-input { max-width: 188px; }
.society .editable-input,
.category .editable-input,
.holiday .editable-input { max-width: 188px; }
.value .editable-input,
.cost .editable-input {
  max-width: 90px;
  margin-right: 2px;
}

.shop .editable-input { max-width: 124px; }
.daily .editable-input { max-width: 82px; }

.li-add .editable-input {
  max-width: 100%;
}
.li-add .value .editable-input,
.li-add .cost .editable-input {
  max-width: 94px;
}

/* graphs */
.graph-container {
  width: 500px;
  height: 300px;
  z-index: 1;
}

.graph-container-pie {
}
.graph-container-pie-shop-cost {
}
.graph-container-pie-0 { }
.graph-container-pie-1 {
}
.graph-container-pie-2 {
}

/* overview page */
.table-overview {
  width: 890px;
  transition: .1s height ease-in-out;
  cursor: default;
}

.table-overview .cost {
  width: auto;
}
.table-overview .editable {
  width: 80px;
}

.list-insert .future,
#page-overview .past {
  color: #333;
  font-style: italic;
}
#page-overview .past {
  line-height: .9em;
  font-size: .9em;
}
#page-overview .active {
  font-weight: bold;
  line-height: 1.1em;
  font-size: 1.1em;
}
#page-overview .past .editable {
  position: relative;
}
#page-overview .past .editable-input {
  position: absolute;
  right: 1px;
  top: 0;
}

#page-overview .active .month {
  background: #093;
  font-weight: bold;
  color: white;
}
#page-overview .future .month {
  background: #fbe07f;
}

#page-overview .month {
  text-align: right;
}

#page-overview .cost .editable-input {
  max-width: 78px;
  margin-right: 0;
  padding: 0 1px;
}

/* funds page */
#page-funds .list .item {
  width: 410px;
}
#page-funds .item .editable-input {
  max-width: 406px;
}
#page-funds .list .units {
  width: 85px;
}
#page-funds .units .editable-input {
  width: 81px;
}
#page-funds .list .gain {
  font-weight: bold;
}
#page-funds .list-head .gain {
  margin-left: 0.5em;
  text-transform: none;
}
#page-funds .list-head .gain .text {
  padding: 0 0.25em;
  margin-left: 0.25em;
}
#page-funds .list-ul .gain {
  width: 200px;
}
#page-funds .list-ul .gain .text {
  width: 100%;
  display: block;
  color: #333;
}
#page-funds .gain .text {
  padding: 0;
  height: 24px;
  background: #666;
}
#page-funds .gain .text span {
  float: left;
  padding: 0 1px;
  overflow: hidden;
  text-overflow: ellipsis;
}
#page-funds .gain .profit {
  background: #ccffd5;
}
#page-funds .gain .profit.high {
  background: #00e612;
}
#page-funds .gain .loss {
  background: #ffa7a7;
}
#page-funds .gain .loss.high {
  background: #ff2c2c;
}
#page-funds .gain .value {
  width: 68px;
  text-align: left;
}
#page-funds .gain .abs {
  width: 64px;
  text-align: left ;
}
#page-funds .gain .pct {
  width: 62px;
  text-align: right;
}
#page-funds .list-ul .gain {
  font-size: 0.8em;
}
#page-funds .graph-container-pie {
  width: 600px;
  left: 900px;
}

#page-funds .stocks-list {
  height: 300px;
  width: 400px;
  float: right;
  overflow-y: auto;
  font-size: 1em;
  font-family: lcd;
  background: black;
  color: white;
}
#page-funds .stocks-list-ul {
  margin: 0;
  padding: 0 0 2em 0;
  list-style: none;
}
#page-funds .stocks-list-ul li {
  height: 1.2em;
  line-height: 1.2em;
  padding-left: 0.2em;
  display: block;
  float: left;
}
#page-funds .stocks-list .label {
  overflow: hidden;
  display: inline-block;
  white-space: nowrap;
}
#page-funds .stocks-list .label,
#page-funds .stocks-list .absolute {
  display: none;
}
#page-funds .stocks-list .price {
  text-align: right;
  float: right;
  padding-right: 0.8em;
  position: relative;
}
#page-funds .stocks-list .price:after {
  content: "";
  right: 0.1em;
  top: 50%;
  position: absolute;
  width: 0.8em;
  height: 2px;
  background: turquoise;
}
#page-funds .stocks-list .up .price:after,
#page-funds .stocks-list .down .price:after {
  border-left: 0.4em solid transparent;
  border-right: 0.4em solid transparent;
  border-top: none;
  background: none;
  width: 0;
  height: 0;
  top: 0.2em;
}
#page-funds .stocks-list .up .price:after {
  border-bottom: 0.8em solid #00c100;
}
#page-funds .stocks-list .down .price:after {
  border-top: 0.8em solid #e22121;
  margin-top: 0.2em;
}
#page-funds .stocks-list .up .hl-up {
  color: #0f0;
}
#page-funds .stocks-list .down .hl-down {
  color: #f00;
}
#page-funds .stocks-list .change {
  display: inline-block;
  margin-left: 1em;
}
#page-funds .change:after { content: "%"; }

#page-funds .stocks-list .up {
  color: #ccffd5;
}

#page-funds .stocks-list .down {
  color: #ffa7a7;
}

/* in page */
.table-in .editable-input {
  text-align: left;
}
#page-in .graph-container-pie {
  width: 800px;
}

#footer-outer {
  margin: 5em 0;
  font-size: .9em;
  color: #666;
  text-align: center;
  font-style: italic;
}
  
@media screen and (max-width: 1500px) {
  body {
    overflow: auto;
  }
  #main-outer {
    width: 1000px;
    margin: 0 auto;
    position: relative;
  }
  #main-inner, #doc-outer, #doc-inner, #doc-inner > .page {
    width: inherit;
  }
  #nav-outer {
    left: 50%;
    margin-left: -500px;
    width: 1000px;
  }
  .table-overview {
    width: 100%;
  }
  #graph-balance {
    float: left;
  }
  #graph-fund-history {
    display: none;
  }
  #page-funds .graph-container-pie {
  }
  #page-funds .gain-info {
    display: none;
  }

  #page-in .graph-container-pie {
    width: 800px;
    margin-left: 100px;
  }
  .graph-container-outer {
    width: inherit;
    height: 299px;
    position: fixed;
    top: 31px;
    z-index: 5;
    box-shadow: 0 3px 16px rgba(60, 60, 60, .3);
    background: white;
    transition: height .3s ease-in-out;
  }
  .graph-container-inner {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
  }
  .graph-container {
    display: inline-block;
    overflow: hidden;
  }
  .graph-hidden .graph-container-outer {
    height: 0;
  }
  .graph-toggle-btn {
    position: absolute;
    right: 38px;
    bottom: -2px;
    top: initial !important;
    padding: 3px 10px;
    box-shadow: 0 3px 10px rgba(60, 60, 60, .6);
  }
  .graph-toggle-btn:after {
    content: "Hide";
  }
  .graph-hidden .graph-toggle-btn:after {
    content: "Show";
  }
  .graph-toggle-btn:active {
    bottom: -5px;
  }

  .list-head {
    width: 1000px;
    left: 50%;
    margin-left: -500px;
    top: 330px;
    transition: top .3s ease-in-out;
  }
  .graph-hidden .list-head {
    top: 30px;
  }
  .list-ul {
    padding-top: 324px;
    width: inherit;
    transition: padding-top .3s ease-in-out;
  }
  .graph-hidden .list-ul {
    padding-top: 24px;
  }
}

@media screen and (min-width: 1501px) {
  html, body {
    height: 100%;
  }
  .graph-container {
    position: fixed;
    z-index: 1;
    background: rgba(255, 255, 255, .8);
    box-shadow: 0 3px 10px rgba(60, 60, 60, .6);
  }
  #graph-balance {
    left: 900px;
    top: 50px;
  }
  #graph-spend {
    left: 900px;
    top: 360px;
  }

  .graph-toggle-btn {
    display: none;
  }
  #page-in .graph-container-pie {
    left: 400px;
    top: 90px;
  }
  .graph-container-pie {
    left: 800px;
    top: 70px;
  }
  .graph-container-pie-1 {
    top: 410px;
  }
  .graph-container-pie-2 {
  }
  #page-funds .stocks-list {
    position: absolute;
    left: 900px;
    top: 350px;
    width: 600px;
    background: black;
    z-index: 0;
  }
  #page-funds .stocks-list-ul {
    width: 400px;
  }
  .stocks-list::-webkit-scrollbar-track {
    -webkit-box-shadow: none;
  }
  .stocks-list::-webkit-scrollbar-thumb {
    background-color: rgba(240, 240, 240, 0.3);
  }
  .stocks-list::-webkit-scrollbar-thumb:hover {
    background-color: rgba(160, 160, 160, 0.9);
  }
  .stocks-list::-webkit-scrollbar-thumb:active {
    background-color: rgba(240, 240, 240, 0.8);
  }
  #graph-fund-history {
    position: absolute;
    width: 600px;
    left: 900px;
    top: 350px;
    z-index: 1;
    background: transparent;
  }
 
  .list-head {
    width: 100%;
  }
  .list-ul {
  }
}
