@import '../../sass/responsive.scss';

// mobile
@media screen and (max-width: $width-page-mobile) {
    .list-mobile {
        display: flex;
        flex: 1 1 auto;
        flex-flow: column;

        .list-ul {
            flex: 1 1 auto;
        }
    }
}

