.page-funds {
    .list {
        .gain {
            font-weight: bold;
        }
    }
}

.graph-container.graph-fund-history {
    .label {
        padding: 0.1em 0.2em;
        background: $color-translucent-l95;
        color: $color-very-dark;
        font-weight: bold;
        position: absolute;
        white-space: nowrap;
        z-index: 2;
    }
    .fund-sidebar {
        margin: 0;
        padding: 0;
        position: absolute;
        left: 0;
        top: 0;
        list-style: none;
        width: 10%;
        height: 100%;
        background: linear-gradient(to bottom, $color-translucent-dark, transparent);
        z-index: 3;
        transition: 0.3s width ease-in-out;
        &:hover {
            width: 40%;
        }
        li {
            line-height: 20px;
            height: 20px;
            width: 100%;
            cursor: default;
            font-size: 0.8em;
            white-space: nowrap;
            position: relative;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .checkbox {
            display: inline-block;
            position: absolute;
            top: 5px;
            left: 1px;
            width: 6px;
            height: 6px;
            border: 2px solid black;
        }
        .enabled .checkbox {
            width: 0;
            height: 0;
            border-width: 5px;
        }
        .fund {
            padding-left: 12px;
        }
    }
    .mode {
        position: absolute;
        right: 0.2em;
        top: 0.2em;
    }
}

