module.exports = {
    plugins: ['prettier', 'react', 'react-hooks', 'import'],
    parser: 'babel-eslint',
    parserOptions: {
        ecmaVersion: 8,
        sourceType: 'module',
    },
    env: {
        browser: true,
        commonjs: true,
        es6: true,
        node: true,
    },
    extends: ['airbnb-base', 'prettier', 'plugin:react/recommended'],
    settings: {
        'import/resolver': {
            alias: {
                map: [
                    ['~client', './web/src'],
                    ['~client-test', './web/test'],
                    ['~api', './api/src'],
                    ['~api-test', './api/test'],
                ],
                extensions: ['.js'],
            },
        },
        react: {
            version: 'detect',
        },
    },
    rules: {
        'import/prefer-default-export': 0,
        'max-len': ['error', 120],
        'no-bitwise': 0,
        'no-underscore-dangle': 0,
        'prettier/prettier': ['error'],
        'react-hooks/rules-of-hooks': 'error',
        'react-hooks/exhaustive-deps': 'warn',
    },
};
