{
  "plugins": [
    "prettier",
    "react",
    "react-hooks",
    "jest",
    "import"
  ],
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 8,
    "sourceType": "module"
  },
  "env": {
      "browser": true,
      "commonjs": true,
      "jest/globals": true,
      "es6": true,
      "node": true
  },
  "extends": [
    "airbnb-base",
    "prettier",
    "plugin:react/recommended"
  ],
  "settings": {
    "import/resolver": {
      "alias": {
        "map": [
          ["~", "./src"]
        ],
        "extensions": [".ts", ".tsx", ".js"]
      }
    },
    "react": {
      "version": "detect"
    }
  },
  "rules": {
    "import/prefer-default-export": 0,
    "max-len": ["error", 120],
    "no-bitwise": 0,
    "no-underscore-dangle": 0,
    "prettier/prettier": ["error"],
    "react/jsx-filename-extension": [2, {
      "extensions": [".jsx", ".tsx"],
    }],
    "react/prop-types": 0,
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
  }
}
