node_modules
node_modules/*
**/__pycache__
Budget.egg-info
env
include
**/*.pyc
srv/db_info.py
resources/serial
resources/tickers.csv
web/js/src/budget.es5.js
web/js/src/budget.es5.js.map
web/js/min/budget.min.js
web/js/main.min.js
web/css/budget.css
web/css/budget.min.css
**/.syncthing*
