node_modules
node_modules/*
Gulpfile.js
**/__pycache__
Budget.egg-info
env
include
**/*.pyc
srv/app/db_info.py
resources/serial
resources/tickers.csv
web/js/build/*.js
web/js/main.js
web/js/main.min.js
web/css/budget.css
web/css/budget.min.css
**/.syncthing*
