node_modules
node_modules/*
npm-debug.log
**/__pycache__
Budget.egg-info
env
include
**/*.pyc
srv/app/db_info.py
resources/serial
resources/tickers.csv
web/build/js/*.js
web/build/js/*.js.map
web/build/css/*.css
.env
**/.syncthing*
