.crud-list {
    &-meta {
    }

    &-list {
        display: flex;
        margin: 0;
        padding: 0;
        flex-flow: column;
        list-style: none;

        &-item {
            margin: 0.5em 0 0.2em;

            &-create {
            }
        }
    }
}
