.navbar {
    .inner {
        background: linear-gradient(to bottom, $color-primary, $color-primary-dark);
        box-shadow: 0 0 6px $color-shadow-l6;
        width: 100%;
        height: $height-nav;
        &.hide-nav .nav-list {
            opacity: 0;
        }
    }
    .app-logo {
        margin: 0 1em 0 0.5em;
        float: right;
    }
    .nav-list {
        padding: ($height-nav - 30) 0 0 0;
    }
    .nav-link {
        height: 27px;
        border-bottom: 3px solid transparent;
        margin-right: 0.5em;
        text-transform: capitalize;
        display: inline-block;
        float: left;
        position: relative;
        text-decoration: none;
        padding: 0 0.5em 0 35px;
        border-radius: 3px 3px 0 0;
        color: $color-white;
        &.active {
            border-bottom-color: black;
            cursor: default;
            &, &:hover, &:active {
                background: $color-shadow-l6;
            }
        }
    }
    .nav-link, .nav-link-btn {
        &:before {
            position: absolute;
            left: 5px;
            top: 0;
        }
    }
    .nav-link-overview {
        border-color: $color-overview;
        &:before {
            background-position: 0 0;
        }
    }
    .nav-link-analysis {
        border-color: $color-analysis;
        &:before {
            background-position: -28px 0;
        }
    }
    .nav-link-funds {
        border-color: $color-funds;
        &:before {
            background-position: -56px 0;
        }
    }
    .nav-link-income {
        border-color: $color-income;
        &:before {
            background-position: -84px 0;
        }
    }
    .nav-link-bills {
        border-color: $color-bills;
        &:before {
            background-position: -112px 0;
        }
    }
    .nav-link-food {
        border-color: $color-food;
        &:before {
            background-position: -140px 0;
        }
    }
    .nav-link-general {
        border-color: $color-general;
        &:before {
            background-position: -168px 0;
        }
    }
    .nav-link-holiday {
        border-color: $color-holiday;
        &:before {
            background-position: 0 -28px;
        }
    }
    .nav-link-social {
        border-color: $color-social;
        &:before {
            background-position: -28px -28px;
        }
    }
    .nav-link-logout {
        border-color: $color-light;
        &:before {
            background-position: -56px -28px;
        }
    }
}

