.navbar {
    .inner {
        margin: 0 auto;
        width: 100%;
    }
    .nav-list {
        /* hide navigation text */
        .nav-link {
            text-indent: -9999px;
            width: 30px;
            padding: 0 0.5em;
            &:before {
                left: 0.5em;
            }
        }
    }
}

