.navbar {
    $navbar-height: $height-header-mobile + $height-nav-mobile;
    height: $navbar-height;
    flex: 0 0 $navbar-height;

    .app-logo {
        width: 100%;
        height: $height-header-mobile;
        padding: 0 0.5em;
        background: $color-mob-primary-dark;
    }
    .queue-not-saved {
        float: right;
        line-height: $height-header-mobile;
    }
    .nav-list {
        display: flex;
        width: 100%;
        flex-direction: row;
        padding: 0;
        box-shadow: 0 3px 9px $color-shadow-l3, 0 -2px 6px $color-shadow-l3;
    }
    .nav-link {
        flex: 1 0 0;
        border-bottom: 4px solid transparent;
        display: block;
        height: $height-nav-mobile - 12;
        text-align: center;
        text-indent: -9999px;
        overflow: hidden;
        padding-top: 8px;
        &.active {
            border-color: $color-mob-accent;
        }
    }
    .nav-link, .nav-link-btn {
        &:before {
            display: block;
            margin: 0 auto;
        }
    }
    .nav-link-overview:before {
        background-position: -200px 0;
    }
    .nav-link-analysis:before {
        background-position: -228px 0;
    }
    .nav-link-funds:before {
        background-position: -256px 0;
    }
    .nav-link-income:before {
        background-position: -284px 0;
    }
    .nav-link-bills:before {
        background-position: -312px 0;
    }
    .nav-link-food:before {
        background-position: -340px 0;
    }
    .nav-link-general:before {
        background-position: -368px 0;
    }
    .nav-link-holiday:before {
        background-position: -200px -28px;
    }
    .nav-link-social:before {
        background-position: -228px -28px;
    }
    .nav-link-logout {
        display: none;
        &:before {
            background-position: -256px -28px;
        }
    }
}

