.navbar {
    height: $height-nav;
    z-index: 10;
    color: $color-white;
    background: $color-white;
    .app-logo {
        height: $height-nav;
        .queue-not-saved {
            padding-right: 1em;
        }
        .logo {
            line-height: $height-nav;
            font-family: Ubuntu, Georgia, serif;
            font-weight: bold;
            font-size: 22px;
            position: relative;
            &:before {
                display: inline-block;
                content: $none;
                width: $width-logo;
                height: $height-logo;
                vertical-align: middle;
                background: url($nav-img) 0 -56px;
                padding-right: 0.5em;
            }
            .loading-api {
                width: $width-logo - 4;
                height: $height-logo - 4;
                position: absolute;
                left: -2px;
                top: -2px;
                border-radius: 100%;
                border: 4px solid transparent;
                border-top: 4px solid $color-amber;
                animation: spin 1s infinite ease;
            }
        }
    }
    .nav-link-li {
        vertical-align: bottom;
        float: left;
    }
    .nav-list {
        margin: 0;
        list-style: none;
        white-space: nowrap;
        transition: 0.2s opacity;
    }
    .nav-link, .nav-link-btn {
        line-height: 30px;
        cursor: pointer;
        &:hover {
            background: $color-shadow-l3;
        }
        &:active {
            background: $color-shadow-l5;
        }
        &:before {
            // icon
            content: $none;
            background-image: url($nav-img);
            width: 28px;
            height: 28px;
        }
    }
}

