@mixin category-item {
    display: grid;
    margin: 0;
    padding: 1em 0;

    grid-template-rows: 28px auto;
    grid-template-columns: auto 28px;
    grid-gap: 5px;

    &:not(:last-child) {
        border-bottom: 1px solid #000;
    }

    .net-worth-category-item-form {
        display: grid;
        align-items: center;

        grid-row: 1;
        grid-column: 1;

        grid-template-rows: 28px;
        grid-template-columns: 104px auto 150px 64px;

        .form-field-type,
        .form-field-category,
        .form-field-color,
        .button-change {
            display: flex;
            margin: 0 0.2em;
            align-items: center;
            justify-content: center;
            
            grid-row: 1;
        }

        .form-field-type {
            grid-column: 1;
        }
        .form-field-category {
            padding: 0 0.2em;
            border: none;
            outline: none;
            font-size: 18px;

            grid-column: 2;
        }
        .form-field-color {
            grid-column: 3;
            position: relative;

            .color-value {
                display: flex;
                padding: 0.1em 1em;
                align-items: center;
                top: 0;
                height: 20px;
                line-height: 20px;
                font-size: 14px;
                cursor: pointer;
                background: rgba(0, 0, 0, 0.3);
                border: none;
                box-shadow: none;
            }

            .color-picker {
                position: absolute;
                left: 0;
                top: 28px;
                z-index: 5;
            }
        }
        .button-change {
            grid-column: 4;
        }
    }
    .net-worth-subcategory-list {
        grid-row: 2;
        grid-column: 1 / span 2;
    }
    > .button-delete {
        grid-row: 1;
        grid-column: 2;
    }
}

.net-worth-category-list {
    display: flex;
    flex-flow: column;
    flex: 1;
    user-select: none;
    min-height: 0;

    .title {
        flex: 0 0 auto;
    }

    .crud-list {
        display: flex;
        flex-flow: column;
        flex: 1;
        min-height: 0;

        &-list {
            flex: 1;
            overflow-y: auto;
        }

        &.net-worth-category {
            > .crud-list-list {
                > .crud-list-list-item {
                    @include category-item;
                }
            }
        }
    }
}
