@import '~client/sass/variables.scss';

$category-item-height: 52px;

@mixin category-item {
    display: grid;
    margin: 0;

    grid-template-rows: $category-item-height auto;
    grid-template-columns: 24px auto 28px;
    grid-gap: 5px;

    &:not(:last-child) {
        border-bottom: 1px solid $color-medium;
    }

    &-main {
        display: grid;
        grid-template-columns: inherit;
        grid-gap: inherit;
        grid-row: 1;
        grid-column: 1 / span 3;
    }

    .button-toggle-visibility {
        display: flex;
        grid-row: 1;
        grid-column: 1;
        align-items: center;
        justify-content: center;

        &-button {
            background: none;
            border: none;
            box-shadow: none;

            &::after {
                display: block;
                margin-left: 16px;
                content: $none;
                width: 0;
                height: 0;
                border: solid transparent;
                border-left-color: $color-very-dark;
                border-width: 6px 8px;
                transform-origin: left center;
            }
        }
    }

    &.expanded {
        .button-toggle-visibility {
            &-button {
                &::after {
                    transform: rotate(90deg);
                }
            }
        }
    }

    .net-worth-category-item-form {
        display: grid;
        align-items: center;

        grid-row: 1;
        grid-column: 2;

        grid-template-rows: $category-item-height;
        grid-template-columns: 104px auto 150px 64px;

        .form-field-type,
        .form-field-category,
        .form-field-color,
        .button-change {
            display: flex;
            margin: 0 0.2em;
            align-items: center;
            justify-content: center;

            grid-row: 1;
        }

        .form-field-type {
            grid-column: 1;
        }
        .form-field-category {
            padding: 0 0.2em;
            border: none;
            outline: none;
            font-size: 18px;

            grid-column: 2;

            input {
                width: 100%;
                font-size: 16px;
            }
        }
        .form-field-color {
            grid-column: 3;

            .color-picker {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translateX(-50%) translateY(-50%);
                z-index: 5;
            }
        }
        .button-change {
            grid-column: 4;
        }
    }
    .net-worth-subcategory-list {
        grid-row: 2;
        grid-column: 1 / span 3;
    }
    > .button-delete {
        grid-row: 1;
        grid-column: 3;
    }
}

.net-worth-category-list {
    display: flex;
    flex-flow: column;
    user-select: none;
    min-height: 0;
    max-height: 720px;

    .title {
        flex: 0 0 auto;
    }

    &-crud {
        &,
        &-inner {
            display: flex;
            flex-flow: column;
            min-height: 0;
        }

        &-inner {
            flex-flow: column-reverse;
            overflow-y: auto;
        }

        .net-worth-category-item {
            @include category-item;
        }
    }
}
