@import '~client/sass/variables.scss';

.net-worth {
    width: 90%;
    height: 90%;
    min-width: 640px;
    min-height: 480px;
    max-width: 1920px;
    max-height: 1200px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%) translateY(-$height-nav / 2);
    z-index: 100;
    background: white;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.4);

    &-inner {
        display: flex;
        position: relative;
        overflow: auto;
    }
}
