@import '~client/sass/variables.scss';
@import '~client/sass/animations.scss';

.net-worth {
    display: flex;
    flex-flow: column;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    max-height: 90%;
    background: $color-shadow-l4;
    box-shadow: 0 2px 6px $color-shadow-l4;
    border-width: 2px 10px 0 10px;
    z-index: 100;
    opacity: 0;
    transition: opacity 0.3s ease-out;

    &.visible {
        opacity: 1;
    }

    .meta {
        display: flex;
        flex: 0 0 24px;
        align-items: center;
        justify-content: space-between;
        background: $color-shadow-l4;
        color: white;

        .title {
            margin: 0 5px;
            font-size: 16px;
            font-weight: bold;
        }
        .button-back {
            display: block;
            margin: 0 4px;
            width: 20px;
            height: 20px;
            text-align: center;
            font-size: 25px;
            line-height: 20px;
            text-decoration: none;
            color: black;
            background: rgba(190, 10, 10, 0.8);
            color: white;
        }
    }

    &-inner {
        display: flex;
        flex-flow: column;
        width: 100%;
        height: 100%;
        position: relative;
        overflow: hidden;
    }

    &-tab-bar {
        display: flex;
        padding: 0 5px;
        flex: 0 0 22px;
        width: 100%;

        .tab {
            display: inline-flex;
            align-items: center;
            margin: 0 5px;
            padding: 0 10px;
            line-height: 22px;
            background: $color-shadow-l4;
            color: white;
            text-decoration: none;
            border-radius: 0 0 6px 6px;

            &-button {
                &:hover, &:active {
                    background: black;
                }

                &.selected {
                    background: $color-shadow-l2;
                    color: $color-slightly-light;
                    cursor: default;
                }
            }
        }
    }
}
