<?xml version="1.0" encoding="utf-8"?>
<resources>
  <!-- Uncomment this line and change it to your actual URL, then rename this file -->
  <!--<string name="api_url">http://budget.example.com</string>-->
</resources>
