@import '../../sass/responsive.scss';
@import '../../sass/variables.scss';

@media screen and (min-width: $width-page-mobile) {
    .editable {
        flex: 1 1 auto;
        white-space: nowrap;
        overflow-x: hidden;
        text-overflow: ellipsis;

        &.editing {
            .text {
                display: none;
            }
        }
    }

    .editable.editing,
    .li-add .editable {
        overflow: visible !important;
    }

    .editable-input {
        margin: 0;
        min-width: 10px;
        width: 100%;
        border: 0;
        padding: 0;
        outline: none;
        font: inherit;
        text-align: left;
        box-shadow: inset 0 0 0px 1px $color-editable-highlight;
    }

    .editable-value,
    .editable-cost {
        text-align: right;
    }

    .editable-transactions {
        position: relative;
        .modal {
            position: absolute;
            left: 0;
            top: 0;
            width: 300px;
            min-height: 100px;
            z-index: 5;
            line-height: 26px;
            background: $color-translucent-l8;
            box-shadow: 0 3px 6px $color-shadow-l2;
            input {
                width: 95%;
            }
            thead {
                font-size: 0.9em;
            }
            .inner {
                padding: 0.2em;
            }
        }
        .text {
            display: none;
        }
    }
}

