.list-insert {
    flex: 1 0 auto;

    .list-head {
        position: fixed;
        left: 0;
        z-index: 4;
        font-weight: bold;
        line-height: 24px;
        text-transform: capitalize;
        white-space: nowrap;

        top: $top-nav - 10;
        
        .weekly, .weekly-value, .total, .total-value {
            margin-left: 0.2em;
            padding-left: 0.2em;
        }
        span {
            text-align: left;
            padding-left: 1px;
            vertical-align: middle;
            line-height: 24px;
        }
    }
    .list-head-inner {
        display: flex;
        flex-flow: row;
        
        padding-top: 10px;
        border-bottom: 1px solid $color-medium-very-light;
        width: 100%;
        height: 24px;
        background: $color-white;
    }

    li, .list-head-inner {
        & > span {
            flex: 0 0 auto;

            &.date {
                flex: 0 0 96px;
            }
            &.item, &.category, &.society, &.holiday {
                flex: 0 0 192px;
            }
            &.value, &.cost {
                flex: 0 0 96px;
                justify-content: right;
            }
            &.shop {
                flex: 0 0 128px;
            }
            &.daily {
                flex: 0 0 86px;
            }
        }
    }

    .future {
        @include unimportant;
    }
    .first-present {
        border-top: 1px solid $color-medium-slightly-dark;
    }
    
    .list-ul {
        display: flex;
        flex-flow: column;
        
        margin: 0;
        padding: 24px 0 0 0;
        list-style: none;
        width: 100%;

        .progress {
            position: absolute;
            right: 2px;
            top: 3px;
        }

        & > li {
            display: flex;
            flex-flow: row;

            width: 100%;
            height: 24px;
            line-height: 24px;
        }
        & > li:nth-child(2n+1) {
            background: $color-translucent-dark;
        }
        li {
            &:not(.li-add) > span:not(.active) {
                overflow: hidden;
            }
            & > span {
                position: relative;
                text-overflow: ellipsis;
                border-right: 1px solid $color-slightly-light;
                vertical-align: top;
                height: inherit;

                & > span {
                    white-space: nowrap;
                    &.active {
                        overflow: visible;
                    }
                }
            }
        }
        .editable, .editable-input {
            height: inherit;
        }
        .text {
            margin-right: 2px;
            padding: 0 2px;
        }
        .delete {
            display: flex;
            flex: 0 0 20px;
            align-items: center;
            justify-content: center;
            border-right: none;

            a {
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                background: $color-delete;
                font-size: 20px;
                width: 16px;
                height: 16px;
                border-radius: 100%;

                &::after {
                    display: block;
                    width: 80%;
                    height: 3px;
                    background: $color-white;
                    content: '';
                }

                &:active {
                    background: $color-delete-active;
                }
            }
        }
        .suggestions {
            margin: 0;
            padding: 0;
            position: absolute;
            width: 100%;
            z-index: 10;
            overflow: hidden;
            text-overflow: ellipsis;
            box-shadow: 0 3px 6px $color-shadow-l3;
            background: $color-translucent-l95;
        }
        .suggestion {
            margin: 1px 0;
            padding: 2px;
            cursor: default;
        }
        .suggestion.active {
            background: $color-blue;
            color: $color-white;
        }
    }
}

