.list-insert {
    display: flex;
    flex-flow: column;
    
    .list-head {
        display: flex;
        flex: 0 0 28px;
        align-items: center;
        flex-flow: row nowrap;
        width: 100%;

        font-weight: bold;

        span {
            text-align: center;
            text-transform: capitalize;
        }
    }
    .list-ul {
        display: flex;
        margin: 0;
        padding: 0;
        flex-flow: column nowrap;
        overflow-y: auto;

        li {
            display: flex;
            flex-flow: row nowrap;
            $item-height: 36px;
            flex: 0 0 $item-height;
            line-height: $item-height;
            height: $item-height;
            & > span {
                display: flex;
                flex-basis: 0;
                min-width: 0;
                white-space: nowrap;
                padding: 0 2px;

                span {
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
        }
    }
    .list-head, .list-ul {
        .date {
            flex-grow: 4;
        }
        .item {
            flex-grow: 7;
        }
        .cost {
            flex-grow: 4;
        }
    }
    .button-add-outer {
        display: flex;
        flex: 0 0 48px;
        align-items: center;
        justify-content: center;
        font-size: 1.5em;
        background: $color-translucent-l7;
    }
    .button-add {
        width: 120px;
        flex-grow: 0;
        background: $color-mob-primary-dark;
        color: $color-white;
    }
}

.list-funds {
    &, .list-head {
        background: $color-funds-light;
    }
    .list-head, .list-ul {
        .date {
            flex-grow: 8;
        }
        .item {
            flex-grow: 12;
        }
        .cost {
            flex-grow: 10;
            font-size: 90%;
        }
        .cost-value, .actual-value {
            flex: 1 1 0;
            text-align: center;
        }
        .actual-value {
            font-weight: bold;
        }
    }
}
.list-income {
    &, .list-head {
        background: $color-income-light;
    }
}
.list-bills {
    &, .list-head {
        background: $color-bills-light;
    }
}
.list-food {
    &, .list-head {
        background: $color-food-light;
    }
}
.list-general {
&, .list-head {
    background: $color-general-light;
    }
}
.list-holiday {
    &, .list-head {
        background: $color-holiday-light;
    }
}
.list-social {
    &, .list-head {
        background: $color-social-light;
    }
}

