@import '~client/sass/responsive.scss';
@import '~client/sass/variables.scss';
@import '~client/sass/mixins.scss';

$item-height-mobile: 30px;
$item-height-desktop: 24px;

.page-list {
    flex: 1 1 0;

    &-main {
        &,
        .crud-list {
            display: flex;
            flex-flow: column;
            min-height: 0;
            flex: 1 0 0;
        }

        .list-head {
            display: flex;
            flex: 0 0 28px;
            align-items: center;
            flex-flow: row nowrap;
            width: 100%;
            font-weight: bold;

            .column {
                text-align: center;
                text-transform: capitalize;
            }
        }

        .crud-list {
            &-list {
                display: flex;
                flex: 1 0 0;
                z-index: 5;
                margin: 0;
                padding: 0;
                flex-flow: column nowrap;
                overflow-y: auto;

                &-item {
                    display: flex;
                    flex-flow: row nowrap;
                    flex: 0 0 $item-height-mobile;
                    line-height: $item-height-mobile;
                    height: $item-height-mobile;

                    .column {
                        display: flex;
                        flex-basis: 0;
                        min-width: 0;
                        white-space: nowrap;
                        padding: 0 2px;

                        .editable {
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }
                    }

                    .button-delete {
                        display: none;
                    }
                }
            }

            .button-add {
                display: flex;
                flex: 0 0 48px;
                align-items: center;
                justify-content: center;
                font-size: 1.5em;
                background: $color-translucent-l7;

                &-button {
                    width: 120px;
                    flex-grow: 0;
                    background: $color-mob-primary-dark;
                    color: $color-white;
                }
            }
        }

        .list-head,
        .crud-list-list {
            .column {
                &.date {
                    flex-grow: 4;
                }
                &.item {
                    flex-grow: 7;
                }
                &.cost {
                    flex-grow: 4;
                }
            }
        }

        &.funds {
            &, .list-head {
                background: $color-funds-light;
            }
        }
        &.income {
            &, .list-head {
                background: $color-income-light;
            }
        }
        &.bills {
            &, .list-head {
                background: $color-bills-light;
            }
        }
        &.food {
            &, .list-head {
                background: $color-food-light;
            }
        }
        &.general {
            &, .list-head {
                background: $color-general-light;
            }
        }
        &.holiday {
            &, .list-head {
                background: $color-holiday-light;
            }
        }
        &.social {
            &, .list-head {
                background: $color-social-light;
            }
        }
    }

    @media only screen and (min-width: $width-page-mobile) {
        flex-flow: column;

        &-main {
            &, .list-head {
                background: none !important;
            }

            &, .list-body {
                display: flex;
                flex-flow: column;
                flex: 1 1 0;
                min-height: 0;
            }

            .list-head {
                flex: 0 0 10px;
                font-weight: bold;
                line-height: 24px;
                text-transform: capitalize;
                white-space: nowrap;
                text-align: left;
                line-height: 24px;
                border-bottom: 1px solid $color-medium-very-light;

                .weekly,
                .weekly-value,
                .total,
                .total-value {
                    margin-left: 0.2em;
                    padding-left: 0.2em;
                }

                span {
                    padding-left: 1px;
                }
            }

            .crud-list-list-item,
            .list-head {
                .date {
                    flex: 0 0 96px;
                }
                .item,
                .category,
                .society,
                .holiday {
                    flex: 0 0 192px;
                }
                .value,
                .cost {
                    flex: 0 0 96px;
                    justify-content: right;
                }
                .shop {
                    flex: 0 0 128px;
                }
                .daily {
                    flex: 0 0 86px;
                }
            }

            .future {
                @include unimportant;
            }
            .first-present {
                border-top: 1px solid $color-medium-slightly-dark;
            }

            .crud-list-list {
                display: flex;
                margin: 0;
                flex: 1 1 0;
                min-height: 0;
                flex-flow: column;
                position: relative;
                overflow-y: auto;
                list-style: none;
                width: 100%;

                &-item {
                    display: flex;
                    margin: 0;
                    padding: 0;
                    flex: 0 0 $item-height-desktop;
                    line-height: $item-height-desktop;
                    height: $item-height-desktop;
                    width: 100%;

                    &:not(.crud-list-list-item-create) {
                        &:nth-child(2n) {
                            background: $color-translucent-dark;
                        }
                    }

                    .cell {
                        overflow: hidden;

                        &.active {
                            overflow: visible;
                        }

                        .editable {
                            &-active {
                            }
                        }
                    }
                    
                    .button-delete {
                        display: block;

                        &-button {
                            width: 18px;
                            height: 18px;
                            line-height: 18px;
                        }
                    }
                }

                &-item-create {
                    position: sticky;
                    top: 0;
                    background: $color-translucent-l95;
                }

                &-item {
                    &:not(.crud-list-list-item-create) {
                        .cell:not(.active) {
                            overflow: hidden;
                        }
                    }

                    .cell {
                        display: inline-flex;
                        text-overflow: ellipsis;
                        vertical-align: top;
                        height: inherit;

                        & > span {
                            border-right: 1px solid $color-slightly-light;
                            &.active {
                                overflow: visible;
                            }
                        }
                    }
                }
                .editable {
                    &, &-input {
                        height: inherit;
                    }
                }
                .text {
                    margin-right: 2px;
                    padding: 0 2px;
                }
                .delete {
                    display: flex;
                    flex: 0 0 20px;
                    align-items: center;
                    justify-content: center;
                    border-right: none;

                    a {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        cursor: pointer;
                        background: $color-delete;
                        font-size: 20px;
                        width: 16px;
                        height: 16px;
                        border-radius: 100%;

                        &::after {
                            display: block;
                            width: 80%;
                            height: 3px;
                            background: $color-white;
                            content: '';
                        }

                        &:active {
                            background: $color-delete-active;
                        }
                    }
                }
                .suggestions {
                    margin: 0;
                    padding: 0;
                    position: absolute;
                    width: 100%;
                    z-index: 10;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    box-shadow: 0 3px 6px $color-shadow-l3;
                    background: $color-translucent-l95;
                }
                .suggestion {
                    margin: 1px 0;
                    padding: 2px;
                    cursor: default;
                }
                .suggestion.active {
                    background: $color-blue;
                    color: $color-white;
                }
            }
        }
    }

    @media only screen and (min-width: $width-page-tablet) {
        flex-flow: row;
    }
}
