.graph-container-outer {
    display: flex;
    width: 100%;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-evenly;

    .graph-container {
        position: relative;
        overflow: hidden;
    }
}

.graph-container {
    width: 500px;
    height: 300px;
    z-index: 2;
    background: $color-translucent-heavy;
    box-shadow: 0 3px 10px $color-shadow-l3;
}

