.graph-container-outer {
    display: inline-block;
}

.graph-container {
    width: 500px;
}

.graph-container {
    z-index: 2;
    background: rgba(255, 255, 255, .8);
    box-shadow: 0 3px 10px rgba(60, 60, 60, .6);
}

