@import '../../sass/responsive.scss';
@import '../../sass/variables.scss';

.graph-container {
    z-index: 2;
}

// desktop (large)
@media screen and (min-width: $width-page-tablet) {
    .graph-toggle-btn {
        display: none;
    }
}

// desktop
@media screen and (min-width: $width-page-mobile) {
    .graph-container-outer {
        display: flex;
        width: 100%;
        flex-flow: row wrap;
        align-items: center;
        justify-content: space-evenly;

        .graph-container {
            position: relative;
            overflow: hidden;
        }
    }

    .graph-container {
        width: 500px;
        height: 300px;
        z-index: 2;
        background: $color-translucent-heavy;
        box-shadow: 0 3px 10px $color-shadow-l3;
    }
}

// tablet
@media screen and (min-width: $width-page-mobile) and (max-width: $width-page-tablet) {
    .graph-container-inner {
        width: 100%;
        height: 100%;
        position: relative;
        overflow: hidden;
    }
    .graph-container {
        display: inline-block;
    }
    .graph-hidden .graph-container-outer {
        height: 0;
    }
    .graph-hidden {
        .list-head {
            top: $top-nav;
        }
        .list-ul {
            padding-top: $top-nav - $height-nav + 24;
        }
        .graph-toggle-btn {
            margin-bottom: -10px;
            &::after {
                content: $text-show-graph;
            }
        }
    }
}

// mobile
@media screen and (max-width: $width-page-mobile) {
    .graph-container {
        width: 100%;
        position: relative;
    }
}

