@import '~client/sass/responsive.scss';
@import '~client/sass/variables.scss';
@import '~client/sass/animations.scss';

$nav-img: '../../images/nav.png';
    
.navbar {
    display: flex;
    flex: 0 0 $navbar-height-mobile;
    flex-flow: column;
    z-index: 10;
    color: $color-white;
    background: $color-white;
    
    .app-logo {
        display: flex;
        flex: 0 0 $height-header-mobile;
        flex-flow: row-reverse;
        align-items: center;
        justify-content: flex-end;
        padding: 0 0.5em;
        width: 100%;
        background: $color-mob-primary-dark;
        
        .queue-not-saved {
            font-size: 0.9em;
        }

        .logo {
            display: flex;
            flex: 1;
            position: relative;
            align-items: center;
            line-height: 55px;
            font-family: Ubuntu, Georgia, serif;
            font-weight: bold;
            font-size: 22px;

            &::before {
                display: inline-block;
                flex: 0 0 $width-logo + 8px;
                content: $none;
                width: $width-logo;
                height: $height-logo;
                background: url($nav-img) 0 -56px;
            }

            .loading-api {
                width: $width-logo + 4px;
                height: $height-logo + 4px;
                position: absolute;
                left: -2px;
                border-radius: 100%;
                border: 4px solid transparent;
                border-top: 4px solid $color-amber;
                animation: spin 1s infinite ease;
            }
        }
    }

    .nav-list {
        display: flex;
        flex: 0 0 $height-nav-mobile;
        align-items: flex-end;
        margin: 0;
        padding: 0;
        width: 100%;
        white-space: nowrap;
        box-shadow: 0 3px 9px $color-shadow-l3, 0 -2px 6px $color-shadow-l3;
        transition: 0.2s opacity;
    }

    .nav-link {
        display: block;
        flex: 1 0 0;
        height: $height-nav-mobile - 3px;
        line-height: 30px;
        overflow: hidden;
        text-align: center;
        border-bottom: 4px solid transparent;
        cursor: pointer;

        &.active {
            border-color: $color-mob-accent;
        }

        &:hover {
            background: $color-shadow-l3;
        }
        &:active {
            background: $color-shadow-l5;
        }
        &::before {
            display: block;
            margin: 0 auto;
            content: $none;
            background-image: url($nav-img);
            width: 28px;
            height: 28px;
        }

        &-overview::before {
            background-position: -200px 0;
        }
        &-analysis::before {
            background-position: -228px 0;
        }
        &-funds::before {
            background-position: -256px 0;
        }
        &-income::before {
            background-position: -284px 0;
        }
        &-bills::before {
            background-position: -312px 0;
        }
        &-food::before {
            background-position: -340px 0;
        }
        &-general::before {
            background-position: -368px 0;
        }
        &-holiday::before {
            background-position: -200px -28px;
        }
        &-social::before {
            background-position: -228px -28px;
        }

        &-logout {
            display: none;

            &::before {
                background-position: -256px -28px;
            }
        }
    }

    @media only screen and (min-width: $width-page-mobile) {
        flex: 0 0 $height-nav;
        flex-flow: row-reverse;
        justify-content: space-between;
        background: linear-gradient(to bottom, $color-primary, $color-primary-dark);
        box-shadow: 0 0 6px $color-shadow-l6;

        .app-logo {
            flex: 0 0 auto;
            flex-flow: row;
            margin: 0 1em 0 0.5em;
            width: auto;
            height: $height-nav;
            background: none;

            .queue-not-saved {
                position: absolute;
                left: 2px;
                top: 2px;
                white-space: nowrap;
                font-size: 12px;
                font-weight: bold;
                color: $color-translucent-l8;
            }
        }
       
        .nav-list {
            flex: 1 1 0;
            box-shadow: none;

            .hide-nav & {
                opacity: 0;
            }
        }

        .nav-link {
            display: block;
            text-align: center;
            margin: 0 0.5em 0 0;
            flex: 0 0 46px;
            height: 30px;
            border-bottom: 3px solid transparent;
            text-transform: capitalize;
            text-decoration: none;
            border-radius: 3px 3px 0 0;
            color: $color-white;

            &.active {
                border-bottom-color: black;
                cursor: default;
                &, &:hover, &:active {
                    background: $color-shadow-l6;
                }
            }

            &-overview {
                border-color: $color-overview;
                &::before {
                    background-position: 0 0;
                }
            }
            &-analysis {
                border-color: $color-analysis;
                &::before {
                    background-position: -28px 0;
                }
            }
            &-funds {
                border-color: $color-funds;
                &::before {
                    background-position: -56px 0;
                }
            }
            &-income {
                border-color: $color-income;
                &::before {
                    background-position: -84px 0;
                }
            }
            &-bills {
                border-color: $color-bills;
                &::before {
                    background-position: -112px 0;
                }
            }
            &-food {
                border-color: $color-food;
                &::before {
                    background-position: -140px 0;
                }
            }
            &-general {
                border-color: $color-general;
                &::before {
                    background-position: -168px 0;
                }
            }
            &-holiday {
                border-color: $color-holiday;
                &::before {
                    background-position: 0 -28px;
                }
            }
            &-social {
                border-color: $color-social;
                &::before {
                    background-position: -28px -28px;
                }
            }
            &-logout {
                display: block;
                border-color: $color-light;
                &::before {
                    background-position: -56px -28px;
                }
            }
        }
    }

    @media only screen and (min-width: $width-page-tablet) {
        .nav-link {
            display: flex;
            padding: 0 0.5em 0 5px;
            flex: 0 0 auto;
            text-align: left;

            &::before {
                margin: 0 2px 0 0;
            }
        }
    }
}
