@import '~client/sass/responsive.scss';
@import '~client/sass/variables.scss';
@import '~client/sass/mixins.scss';

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

html, body {
    @media only screen and (min-width: $width-page-tablet) {
        height: 100%;
    }
}

body {
    margin: 0;
    font: 1em Arial, Helvetica, sans-serif;
    &.wait * {
        cursor: wait !important;
    }

    @media only screen and (min-width: $width-page-mobile) {
        overflow: auto;
    }

    @media only screen and (min-width: $width-page-tablet) {
        overflow: initial;
    }
}

.noselect {
    @include noselect;
}

button {
    display: flex;
    margin: 0 6px;
    flex-grow: 1;
    justify-content: center;
    padding: 1em 0;
    width: 100%;
    background: $color-button-bg-mobile;
    font-size: 0.6em;
    border: none;
    border-radius: 3px;
    outline: none;
    text-transform: uppercase;
    font-weight: bold;
   
    &:disabled {
        background: none;
    }

    @media only screen and (min-width: $width-page-mobile) {
        display: inline-block;
        margin: 0;
        padding: 5px 12px 6px;
        flex-grow: 0;
        width: auto;
        box-shadow: inset 0px 1px 0px 0px $color-button-shadow;
        background: linear-gradient(to bottom, $color-button-bg2 5%, $color-button-bg1 100%);
        background-color: $color-button-bg2;
        border: 1px solid $color-button-border;
        border-radius: 0;
        cursor: pointer;
        color: $color-white;
        font-family: Arial;
        font-size: 13px;
        height: 24px;
        position: relative;
        text-decoration: none;
        text-transform: none;
        z-index: 4;

        &:hover {
            background-color: $color-button-bg1;
            background-image: linear-gradient(to bottom, $color-button-bg1 5%, $color-button-bg2 100%);
        }
        &:active {
            top: 1px;
            background: $color-button-active;
        }
        &:focus {
            box-shadow: 0 2px 3px $color-shadow-l3;
        }
        &:disabled {
            background: $color-button-bg-disabled;
            cursor: default;
            border: 1px solid $color-medium-slightly-dark;
        }
    }
}

@media screen and (min-width: $width-page-mobile) {
    * {
        &::-webkit-scrollbar {
            width: 0.5em;
        }
        &::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 16px -4px $color-shadow-l3;
        }
        &::-webkit-scrollbar-thumb {
            background-color: $color-shadow-l3;
            border-radius: 0.5em;
        }
        &::-webkit-scrollbar-thumb:hover {
            background-color: $color-shadow-l4;
        }
        &::-webkit-scrollbar-thumb:active {
            background-color: $color-shadow-l6;
        }
    }

}
