.funds-info {
    background: beige;

    .gain {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        height: 45px;
        overflow: hidden;
        padding: 10px 24px;
        background: $color-translucent-l7;
        &.profit {
            background: $color-profit-translucent;
        }
        &.loss {
            background: $color-loss-translucent;
        }
    }
    .gain-info {
        display: none;
    }
    .value {
        flex-grow: 3;
        font-size: 150%;
        font-weight: bold;
    }
    .gain-pct {
        flex-grow: 1;
        font-weight: bold;
        font-style: italic;
        text-align: right;
    }
    .cache-age {
        flex-grow: 1;
        flex-wrap: wrap;
        color: $color-very-dark;
        font-style: italic;
        text-align: right;
        font-size: 80%;
    }
}

