@import '~client/sass/responsive.scss';
@import '~client/sass/variables.scss';

$item-height-desktop: 48px;

$transactions-width-date: 110px;
$transactions-width-units: 60px;
$transactions-width-cost: 60px;

@mixin item-width($width) {
    flex: 0 0 $width;

    &,
    .col,
    input {
        width: $width;
    }
}

@mixin transactions-modal {
    padding: 2px 1px 4px 1px;
    position: absolute;
    top: 0;
    z-index: 2;
    background: $color-translucent-l8;
    box-shadow: 0 2px 6px $color-shadow-l2;

    &-head {
        display: flex;
        line-height: 24px;
        font-weight: bold;
        font-size: 14px;

        .col {
            margin-left: 0;
            text-align: left;
        }
    }

    .col,
    .row {
        &.date {
            @include item-width($transactions-width-date);
        }
        &.units {
            @include item-width($transactions-width-units);
        }
        &.cost {
            @include item-width($transactions-width-cost);
        }
    }

    .row {
        margin: 0;

        .col {
            display: block;
        }
        .label {
            display: none;
        }

        &.button {
            button {
                margin-top: 3px;
            }
        }
    }

    .transactions-list {
        display: flex;
        margin: 0;
        padding: 0;
        flex-flow: column;
        list-style: none;
        max-height: 130px;
        overflow-y: auto;

        &-item {
            display: flex;
            align-items: center;
            line-height: 24px;
            flex: 0 0 24px;
        }

        .form-field {
            input {
                padding: 0 0 0 1px;
                font-size: 12px;
                height: 22px;
                line-height: 22px;
                border: 1px solid #ccc;
                box-shadow: none;
            }
        }
    }
}

.page-funds {
    flex-direction: column-reverse;
    flex: 1 0 0;

    .page-list-main {
        .crud-list {
            &-list {
                &-item {
                    margin: 0;
                    padding: 4px 0 1px;

                    .column {
                        &.item {
                            display: block;
                            flex: 1 1 auto;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                        }
                    }

                    .cost {
                        display: flex;
                        margin-left: 10px;
                        flex: 0 0 auto;
                        font-size: 90%;

                        &-value {
                            flex: 0 0 auto;
                            text-align: right;
                        }

                        .actual-value {
                            width: 50px;
                            flex: 0 0 auto;
                            font-weight: bold;
                            text-align: center;
                        }

                        &-value,
                        .actual-value {
                            margin-right: 4px;
                        }
                    }

                    &.sold {
                        padding: 0;
                        font-size: 90%;
                        color: $color-medium-light;
                        background: $color-shadow-l05;

                        .cost {
                            .actual-value {
                            }
                        }
                    }
                }
            }
        }
    }

    .modal-dialog {
        .form-row {
            &.transactions {
                .num-transactions {
                    display: none;
                }

                .transactions-list {
                    &-item {
                        flex-flow: column;
                    }
                }
            }
        }
    }

    .funds-info {
        background: $color-translucent-light;

        &-inner {
            display: flex;
            flex-flow: column;
        }

        .gain {
            display: flex;
            padding: 6px 12px 2px;
            flex-flow: row wrap;
            align-items: center;
            flex: 0 0 auto;
            overflow: hidden;
            background: $color-translucent-l7;
            &.profit {
                background: $color-profit-translucent;
            }
            &.loss {
                background: $color-loss-translucent;
            }

            &-info {
                display: none;
            }
            .value {
                flex-grow: 3;
                font-size: 150%;
                font-weight: bold;
            }
            &-pct {
                flex-grow: 1;
                font-weight: bold;
                font-style: italic;
                text-align: right;
            }
            .cache-age {
                flex-grow: 1;
                flex-wrap: wrap;
                color: $color-very-dark;
                font-style: italic;
                text-align: right;
                font-size: 80%;
            }
        }
    }

    @media screen and (min-width: $width-page-mobile) {
        overflow-y: auto;
        padding-bottom: 1em;

        .page-list-main {
            flex: 0 1 800px;

            .crud-list {
                &-list-item,
                .list-head {
                    .fund-extra-info {
                        flex: 0 0 100px;
                    }
                    .add-button-outer {
                        flex: 0 0 121px;
                    }
                }

                &-list-item {
                    padding: 0;

                    &:not(.crud-list-list-item-create):not(.sold) {
                        flex: 0 0 $item-height-desktop;
                        line-height: $item-height-desktop;
                        height: $item-height-desktop;
                    }

                    .cell {
                        &.item {
                            flex: 0 1 376px;
                        }
                        &.transactions {
                            flex: 0 1 102px;

                            &.active {
                                z-index: 12;
                            }

                            .form-field {
                                text-align: center;
                            }
                            .editable {
                                position: relative;

                                &-active {
                                    .num-transactions {
                                        z-index: 1;
                                    }
                                    .modal {
                                        @include transactions-modal;
                                    }
                                }
                            }
                        }
                        &.add-button-outer {
                            flex: 0 0 320px;
                            border-right: none;
                        }
                    }
                    .fund-extra-info {
                        display: flex;
                        flex: 0 0 300px;
                        flex-wrap: nowrap;
                        position: relative;

                        &.popout {
                            z-index: 10;
                            overflow: visible !important;

                            .graph-container {
                                box-shadow: none;
                            }
                        }
                        .fund-graph {
                            height: 100%;
                            flex: 0 0 100px;
                            z-index: 2;
                        }
                        &-gain {
                            display: flex;
                            flex: 0 0 200px;
                            z-index: 1;

                            .text {
                                display: flex;
                                margin-right: 0;
                                padding: 0;
                                width: 100%;
                                & > span {
                                    padding: 0;
                                }
                            }
                            .profit {
                                color: $color-profit;
                            }
                            .loss {
                                color: $color-loss;
                            }
                            .value {
                                flex: 1 1 0;
                                font-weight: bold;
                                font-size: 1.1em;
                                color: $color-slightly-dark;
                            }
                            .breakdown {
                                display: flex;
                                flex: 2 1 0;

                                .overall, .day-gain-outer {
                                    display: flex;
                                    flex: 1 0 0;
                                    flex-flow: column;
                                }
                                .overall {
                                    font-weight: bold;
                                }
                                .day-gain-outer {
                                }

                                &.sold {
                                    .overall {
                                        flex-flow: row;
                                    }
                                }
                            }
                            .gain-abs, .day-gain-abs, .price, .gain, .day-gain {
                                flex: 1 0 0;
                                font-size: 0.8em;
                                line-height: 24px;
                                height: 24px;
                                background: $color-translucent-l8;
                            }
                            .gain-abs, .day-gain-abs {
                                &.profit::before {
                                    content: $text-up-arrow;
                                }
                                &.loss::before {
                                    content: $text-down-arrow;
                                }
                                &::before {
                                    font-style: normal;
                                    font-weight: normal;
                                    margin-right: 0.2em;
                                }
                            }
                        }
                    }
                    &:nth-child(n+3) {
                        .fund-extra-info-gain {
                            height: 100%;
                        }
                    }
                    &:nth-last-child(-n+3) {
                        .cell {
                            &.transactions {
                                .editable-active {
                                    .modal {
                                        top: initial;
                                        bottom: 0;
                                    }
                                }
                            }
                        }
                        .fund-graph {
                            .popout {
                                top: initial;
                                bottom: 0;
                            }
                        }
                    }
                    &.sold {
                        height: 24px;
                        line-height: 24px;
                        font-size: inherit;
                        color: $color-slightly-light;
                        background: initial;

                        .fund-graph {
                            filter: grayscale(100%);
                            z-index: initial;
                        }
                        .fund-extra-info {
                            &-gain {
                                font-style: italic;

                                .value,
                                .overall {
                                    font-weight: normal;
                                }
                            }
                            &::after {
                                content: $none;
                                width: 100%;
                                height: 100%;
                                position: absolute;
                                top: 0;
                                left: 0;
                                background: $color-translucent-l7;
                                z-index: 1;
                            }
                        }
                    }
                }
            }
        
            .list-head {
                .overall-gain {
                    flex: 0 0 auto;
                    text-transform: none;
                    
                    &.profit {
                        background: $color-profit-light;
                    }
                    &.loss {
                        background: $color-loss-light;
                    }

                    .value {
                        display: inline-flex;
                        margin: 0 0.5em;
                    }

                    .gain-values {
                        display: inline-flex;
                       
                        .gain-pct {
                            margin: 0 0.25em;
                        }
                    }

                    .cache-age {
                        margin: 0 0.5em;
                        font-style: italic;
                    }
                }
            }
            
            .fund-extra-info-gain {
                display: inline-block;
                .text {
                    padding: 0;
                    height: 100%;
                    background: $color-medium-slightly-dark;
                    & > span {
                        float: left;
                        padding: 0 1px;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        text-align: center;
                    }
                }
                .value {
                    width: 68px;
                    text-align: left;
                }
                .abs {
                    width: 64px;
                    text-align: left ;
                }
                .pct {
                    width: 62px;
                    text-align: right;
                }
            }
        }

        .stocks-list {
            &::-webkit-scrollbar-track {
                -webkit-box-shadow: none;
            }
            &::-webkit-scrollbar-thumb {
                background-color: $color-translucent-l4;
            }
            &::-webkit-scrollbar-thumb:hover {
                background-color: $color-shadow-grey;
            }
            &::-webkit-scrollbar-thumb:active {
                background-color: $color-translucent-l7;
            }
        }

        .funds-info {
            flex: 1 0 auto;
        }
    }
}
