.main {
    display: flex;
    flex-flow: column;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
}

.page-wrapper {
    display: flex;
    flex: 1 0 0;

    .inner {
        display: flex;
        flex-flow: column;
        width: 100%;
    }
}

