@import '../../sass/variables.scss';

.hover-cost {
    position: relative;
    width: 100%;

    .abbreviated {
        z-index: 1;
    }
    .full {
        z-index: 2;
        position: absolute;
        top: 0;
        left: -2px;
        padding: 0 2px;
        background: $color-translucent-l8;
    }

    &.hover {
        .abbreviated {
            display: none;
        }
    }
}

