@font-face {
  font-family: lcd;
  src: url(fonts/erbos_draco_1st_open_nbp.woff);
}
@keyframes spin {
  to {
    transform: rotate(1turn);
  }
}
*::-webkit-scrollbar {
  width: 0.5em;
}
*::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 16px -4px rgba(0, 0, 0, 0.3);
}
*::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 0.5em;
}
*::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.4);
}
*::-webkit-scrollbar-thumb:active {
  background-color: rgba(0, 0, 0, 0.6);
}
body {
  font: 1em Arial, Helvetica, sans-serif;
  margin: 0;
}
body.wait * {
  cursor: wait !important;
}
button {
  box-shadow: inset 0px 1px 0px 0px #9acc85;
  background: linear-gradient(to bottom, #74ad5a 5%, #68a54b 100%);
  background-color: #74ad5a;
  border: 1px solid #3b6e22;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 13px;
  font-weight: bold;
  padding: 3px 12px;
  position: relative;
  top: -1px;
  text-decoration: none;
  outline: none;
  z-index: 4;
}
button:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #68a54b), color-stop(1, #74ad5a));
  background: -moz-linear-gradient(top, #68a54b 5%, #74ad5a 100%);
  background: -webkit-linear-gradient(top, #68a54b 5%, #74ad5a 100%);
  background: -o-linear-gradient(top, #68a54b 5%, #74ad5a 100%);
  background: -ms-linear-gradient(top, #68a54b 5%, #74ad5a 100%);
  background: linear-gradient(to bottom, #68a54b 5%, #74ad5a 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@color_grad_btn_to', endColorstr='@color_grad_btn_from', GradientType=0);
  background-color: #68a54b;
}
button:active {
  top: 0;
}
.flexbox {
  display: flex;
}
.progress-outer {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 500;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.8);
  display: none;
}
.progress-inner {
  width: 20em;
  height: 20em;
  position: fixed;
  left: 50%;
  top: 50%;
  margin-left: -10em;
  margin-top: -10em;
  font-size: 6px;
  background: white;
  border-radius: 2em;
  box-shadow: inset 0 0 19px -3px rgba(60, 60, 60, 0.4);
}
.progress-inner .progress {
  margin: 7.5em;
}
.progress {
  position: relative;
  display: inline-block;
  width: 5em;
  height: 5em;
  text-indent: 999em;
  overflow: hidden;
  animation: spin 1s infinite steps(8);
}
.progress:before,
.progress:after,
.progress > div:before,
.progress > div:after {
  content: '';
  position: absolute;
  top: 0;
  left: 2.25em;
  /* (container width - part width)/2  */
  width: .5em;
  height: 1.5em;
  border-radius: .2em;
  background: #eee;
  box-shadow: 0 3.5em #eee;
  /* container height - part height */
  transform-origin: 50% 2.5em;
  /* container height / 2 */
}
.progress:before {
  background: #555;
}
.progress:after {
  transform: rotate(-45deg);
  background: #777;
}
.progress > div:before {
  transform: rotate(-90deg);
  background: #999;
}
.progress > div:after {
  transform: rotate(-135deg);
  background: #bbb;
}
.progress-tiny {
  width: 18px;
  height: 18px;
}
.progress-tiny:before,
.progress-tiny:after,
.progress-tiny > div:before,
.progress-tiny > div:after {
  left: 8px;
  width: 2px;
  height: 6px;
  border-radius: 2px;
  box-shadow: 0 12px #8ecbff;
  transform-origin: 50% 9px;
  background: #8ecbff;
}
.progress-tiny:before {
  background: #3c6b94;
}
#bg {
  position: fixed;
  background: #fff;
  width: 100%;
  height: 100%;
  z-index: 1000;
  left: 0;
  top: 0;
}
.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  -khtml-user-select: none;
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                  not supported by any browser */
}
/* document */
#doc-outer {
  padding-top: 59px;
}
#doc-outer .doc-inner {
  position: relative;
}
/* insert table */
.table-insert {
  border-collapse: collapse;
}
.table-insert th {
  text-transform: capitalize;
  text-align: center;
}
.table-insert td {
  font-size: .9em;
  padding: 2px 3px;
}
.table-insert .cost {
  text-align: right;
  width: 96px;
}
.table-insert .date {
  width: 96px;
}
.table-insert .item,
.table-insert .category {
  width: 192px;
}
/* insert list */
.list-insert .list-head {
  position: fixed;
  top: 59px;
  left: 0;
  z-index: 4;
  background: white;
  font-weight: bold;
  border-bottom: 1px solid #999;
  height: 24px;
  line-height: 24px;
  text-transform: capitalize;
  white-space: nowrap;
}
.list-insert .list-head span {
  display: inline-block;
  text-align: left !important;
  padding-left: 1px;
  vertical-align: middle;
}
.list-insert .future {
  color: #333;
  font-style: italic;
}
.list-insert .list-ul {
  list-style: none;
  padding: 24px 0 0 0;
  margin: 0;
  bottom: 0;
}
.list-insert .list-ul .progress {
  position: absolute;
  right: 2px;
  top: 3px;
}
.list-insert .list-ul > li {
  width: 100%;
  height: 24px;
  line-height: 24px;
  white-space: nowrap;
}
.list-insert .list-ul > li:nth-child(2n) {
  background: rgba(220, 220, 220, 0.4);
}
.list-insert .list-ul li > span {
  display: inline-block;
  position: relative;
  text-overflow: ellipsis;
  border-right: 1px solid #ccc;
  vertical-align: top;
  overflow: hidden;
}
.list-insert .list-ul .text {
  margin-right: 2px;
  padding: 0 2px;
}
.list-insert .list-ul .suggestions {
  margin: 0;
  padding: 0;
  position: absolute;
  width: 100%;
  max-height: 0;
  z-index: 10;
  overflow: hidden;
  text-overflow: ellipsis;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
  background: rgba(255, 255, 255, 0.9);
}
.list-insert .list-ul .suggestions.active {
  max-height: initial;
}
.list-insert .list-ul .suggestion {
  margin: 1px 0;
  padding: 2px;
  cursor: default;
}
.list-insert .list-ul .suggestion.active {
  background: #09e;
  color: white;
}
/* navigation */
#nav {
  background: linear-gradient(to bottom, #d84d4d, #9f3030);
  box-shadow: 0 0 6px rgba(40, 40, 40, 0.8);
  width: 100%;
  height: 49px;
}
#nav-outer {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 49px;
  z-index: 10;
  color: white;
  padding-bottom: 10px;
  background: white;
}
#nav-outer .app-logo-outer {
  float: right;
  height: 49px;
  margin: 0 1em 0 0.5em;
}
#nav-outer .app-logo {
  line-height: 49px;
  font-family: Ubuntu, Georgia, serif;
  font-weight: bold;
  font-size: 22px;
}
#nav-outer .app-logo:before {
  content: '';
  width: 30px;
  height: 30px;
  display: inline-block;
  vertical-align: middle;
  background: url(/img/nav.png) 0 -56px;
  padding-right: 0.5em;
}
#nav-outer .nav-list {
  list-style: none;
  margin: 0;
  padding: 19px 0 0 0;
  white-space: nowrap;
}
#nav-outer .nav-list li {
  display: inline-block;
  vertical-align: bottom;
  margin-right: 0.5em;
}
#nav-outer .nav-list .nav-link,
#nav-outer .nav-list .nav-link-btn {
  float: left;
  line-height: 30px;
  height: 27px;
  padding: 0 0.5em 0 35px;
  color: white;
  border-bottom: 3px solid transparent;
  border-radius: 3px 3px 0 0;
  cursor: pointer;
  position: relative;
}
#nav-outer .nav-list .nav-link:hover,
#nav-outer .nav-list .nav-link-btn:hover {
  background: rgba(0, 0, 0, 0.3);
}
#nav-outer .nav-list .nav-link:active,
#nav-outer .nav-list .nav-link-btn:active {
  background: rgba(0, 0, 0, 0.5);
}
#nav-outer .nav-list .nav-link.active,
#nav-outer .nav-list .nav-link-btn.active {
  border-bottom-color: black !important;
  cursor: default;
}
#nav-outer .nav-list .nav-link.active,
#nav-outer .nav-list .nav-link-btn.active,
#nav-outer .nav-list .nav-link.active:hover,
#nav-outer .nav-list .nav-link-btn.active:hover,
#nav-outer .nav-list .nav-link.active:active,
#nav-outer .nav-list .nav-link-btn.active:active {
  background: rgba(0, 0, 0, 0.7);
}
#nav-outer .nav-list .nav-link:before,
#nav-outer .nav-list .nav-link-btn:before {
  /* icon */
  content: '';
  width: 28px;
  height: 28px;
  position: absolute;
  left: 5px;
  top: 0;
  background-image: url(../img/nav.png);
}
#nav-outer .nav-list #nav-link-overview {
  border-color: #424242;
}
#nav-outer .nav-list #nav-link-overview:before {
  background-position: 0 0;
}
#nav-outer .nav-list #nav-link-analysis {
  border-color: #f4a742;
}
#nav-outer .nav-list #nav-link-analysis:before {
  background-position: -28px 0;
}
#nav-outer .nav-list #nav-link-funds {
  border-color: #546e7a;
}
#nav-outer .nav-list #nav-link-funds:before {
  background-position: -56px 0;
}
#nav-outer .nav-list #nav-link-in {
  border-color: #d84315;
}
#nav-outer .nav-list #nav-link-in:before {
  background-position: -84px 0;
}
#nav-outer .nav-list #nav-link-bills {
  border-color: #b71c1c;
}
#nav-outer .nav-list #nav-link-bills:before {
  background-position: -112px 0;
}
#nav-outer .nav-list #nav-link-food {
  border-color: #43a047;
}
#nav-outer .nav-list #nav-link-food:before {
  background-position: -140px 0;
}
#nav-outer .nav-list #nav-link-general {
  border-color: #01579b;
}
#nav-outer .nav-list #nav-link-general:before {
  background-position: -168px 0;
}
#nav-outer .nav-list #nav-link-holiday {
  border-color: #00897b;
}
#nav-outer .nav-list #nav-link-holiday:before {
  background-position: 0 -28px;
}
#nav-outer .nav-list #nav-link-social {
  border-color: #bf9e24;
}
#nav-outer .nav-list #nav-link-social:before {
  background-position: -28px -28px;
}
#nav-outer .nav-list #nav-link-logout {
  border-color: #eee;
}
#nav-outer .nav-list #nav-link-logout:before {
  background-position: -56px -28px;
}
#login-form {
  display: none;
  z-index: 1001;
  position: fixed;
  left: 50%;
  top: 50%;
  margin-top: -180px;
  margin-left: -194px;
  width: 288px;
  height: 360px;
  padding: 0 50px 50px 50px;
  background: #111;
  border-radius: 4px;
  box-shadow: 0 26px 90px rgba(60, 60, 60, 0.9);
}
#login-form h3 {
  margin: 0;
  height: 80px;
  line-height: 80px;
  font-size: 24px;
  text-align: center;
  color: #fefefe;
}
#login-form .input-pin {
  font-size: 64px;
  width: 60px;
  height: 80px;
  margin: 0 6px;
  position: relative;
  float: left;
  border: none;
  border-radius: 4px;
  background: #333;
  color: transparent;
  text-shadow: 0 0 0px #fefefe;
  text-align: center;
  outline: none;
  transition: background-color linear 0.1s;
}
#login-form .input-pin.active {
  background-color: #fefefe;
  text-shadow: 0 0 0px #111;
}
#login-form .input-pin.done:after {
  content: '';
  width: 16px;
  height: 16px;
  background: #fefefe;
  border-radius: 16px;
  position: absolute;
  left: 22px;
  top: 32px;
}
#login-form .number-input {
  margin: 90px 14px 0 14px;
  background: #3e3e3e;
  box-shadow: inset 0 0 13px rgba(0, 0, 0, 0.5);
  padding: 0 10px 5px 10px;
}
#login-form .number-input .btn-digit {
  width: 70px;
  height: 35px;
  line-height: 35px;
  top: 0;
  margin: 10px 5px;
  padding: 0;
  background-color: #868686;
  background-image: linear-gradient(167deg, rgba(255, 255, 255, 0.1) 50%, rgba(0, 0, 0, 0) 55%), linear-gradient(to bottom, rgba(255, 255, 255, 0.15), rgba(0, 0, 0, 0));
  box-shadow: inset 0 0 0 1px #868686, inset 0 0 0 2px rgba(255, 255, 255, 0.15), 0 8px 0 0 #737373, 0 8px 0 1px rgba(0, 0, 0, 0.4), 0 8px 8px 1px rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  border-radius: 5px;
  font-family: "Lucida Grande", Arial, sans-serif;
  font-size: 22px;
  font-weight: bold;
  letter-spacing: -1px;
  position: relative;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
  transition: 0.05s;
}
#login-form .number-input .btn-digit:active {
  box-shadow: inset 0 0 0 1px #737373, inset 0 0 0 2px rgba(255, 255, 255, 0.15), 0 0 0 1px rgba(0, 0, 0, 0.4);
  transform: translateY(10px);
}
#login-form .number-input .btn-digit-0 {
  margin-left: 85px;
}
.page {
  position: relative;
  display: none;
}
.limit-btn {
  position: fixed;
  left: 50px;
  bottom: 0;
}
.editable {
  position: relative;
}
.editable.editing,
.li-add .editable {
  overflow: visible;
}
.editable.editing .text {
  display: none;
}
.editable-input {
  min-width: 10px;
  width: 100%;
  border: 0;
  padding: 0 2px;
  margin: 0;
  outline: none;
  font: inherit;
  text-align: left;
  box-shadow: inset 0 0 0px 1px darkorange;
}
.editable-suggestion {
  color: #2062ab;
  position: absolute;
  left: 0;
  top: 0;
  font-size: inherit;
}
.editable-value,
.editable-cost {
  text-align: right;
}
.list .date {
  width: 96px;
}
.list .item {
  width: 192px;
}
.list .society,
.list .category,
.list .holiday {
  width: 192px;
}
.list .value,
.list .cost {
  width: 96px;
  text-align: right;
}
.list .shop {
  width: 128px;
}
.list .daily {
  width: 86px;
  height: 100%;
}
.date .editable-input {
  max-width: 92px;
}
.item .editable-input {
  max-width: 188px;
}
.society .editable-input,
.category .editable-input,
.holiday .editable-input {
  max-width: 188px;
}
.value .editable-input,
.cost .editable-input {
  max-width: 90px;
  margin-right: 2px;
}
.shop .editable-input {
  max-width: 124px;
}
.daily .editable-input {
  max-width: 82px;
}
.li-add .editable-input {
  max-width: 100%;
}
.li-add .value .editable-input,
.li-add .cost .editable-input {
  max-width: 94px;
}
.li-add button {
  z-index: 0;
}
/* graphs */
.graph-container {
  width: 500px;
  height: 300px;
  z-index: 1;
}
.graph-container.graph-fund-history {
  background: black;
}
.graph-container.graph-fund-history .label {
  padding: 0.1em 0.2em;
  background: rgba(230, 230, 230, 0.8);
  color: #111;
  font-weight: bold;
  position: absolute;
  white-space: nowrap;
  z-index: 2;
  display: none;
}
/* overview page */
#page-overview .table-overview {
  width: 890px;
  transition: 0.1s height ease-in-out;
  cursor: default;
}
#page-overview .table-overview .cost {
  width: auto;
}
#page-overview .table-overview .editable {
  width: 80px;
}
#page-overview .past {
  color: #333;
  font-style: italic;
  line-height: .9em;
  font-size: .9em;
}
#page-overview .past .editable {
  position: relative;
}
#page-overview .past .editable-input {
  position: absolute;
  right: 1px;
  top: 0;
}
#page-overview .active {
  font-weight: bold;
  line-height: 1.1em;
  font-size: 1.1em;
}
#page-overview .active .month {
  background: #009933;
  font-weight: bold;
  color: white;
}
#page-overview .future .month {
  background: #fbe07f;
}
#page-overview .month {
  text-align: right;
}
#page-overview .cost .editable-input {
  max-width: 78px;
  margin-right: 0;
  padding: 0 1px;
}
/* analysis page */
#page-analysis .upper {
  margin: 0.3em 0;
}
#page-analysis .input-period,
#page-analysis .input-grouping {
  margin: 0 1em;
}
#page-analysis .btns {
  float: right;
}
#page-analysis .period-title {
  margin: 0.3em 0;
  font-size: 1.2em;
}
#page-analysis .block-view {
  width: 500px;
  height: 500px;
  flex: 0 0 500px;
}
#page-analysis .block-view .status-bar {
  height: 32px;
  line-height: 32px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  background: #222;
  color: #eee;
  padding: 0 0.8em;
  margin-top: -1px;
}
#page-analysis .block-view .block-tree {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  box-shadow: 0 3px 13px rgba(60, 60, 60, 0.4);
}
#page-analysis .block-view .block-tree .block-group {
  float: left;
}
#page-analysis .block-view .block-tree .expanded .block-group {
  opacity: 0;
  /* for the expansion animation */
}
#page-analysis .block-view .block-tree.deep > .block-group {
  display: none;
}
#page-analysis .block-view .block-tree .deep-block-tree {
  width: 100%;
  height: 100%;
}
#page-analysis .block-view .block-tree .block {
  box-shadow: inset 0 0 13px rgba(60, 60, 60, 0.6);
  z-index: 1;
}
#page-analysis .block-view .block-tree .block:hover {
  z-index: 2;
  box-shadow: inset 0 0 13px rgba(60, 60, 60, 0.6), 0 0 16px 3px rgba(60, 60, 60, 0.8);
}
#page-analysis .block-view .block-tree .sub-block {
  transition: opacity 0.1s linear;
  opacity: 1;
  box-shadow: inset -1px -1px 13px rgba(30, 30, 30, 0.4);
  background: linear-gradient(to bottom right, rgba(255, 255, 255, 0.6), rgba(0, 0, 0, 0.3));
}
#page-analysis .block-view .block-tree .sub-block.hidden {
  opacity: 0;
}
#page-analysis .block-view .block-tree .block,
#page-analysis .block-view .block-tree .sub-block {
  float: left;
  position: relative;
}
#page-analysis .block-view .block-tree .block.active,
#page-analysis .block-view .block-tree .sub-block.active {
  background: rgba(255, 255, 0, 0.85);
}
#page-analysis .block-view .block-tree .block-0 {
  background: #d35400;
}
#page-analysis .block-view .block-tree .block-1 {
  background: #1abc9c;
}
#page-analysis .block-view .block-tree .block-2 {
  background: #f1c40f;
}
#page-analysis .block-view .block-tree .block-3 {
  background: #2980b9;
}
#page-analysis .block-view .block-tree .block-4 {
  background: #27ae60;
}
#page-analysis .block-view .block-tree .block-5 {
  background: #e74c3c;
}
#page-analysis .block-view .block-tree .block-6 {
  background: #9b59b6;
}
#page-analysis .block-view .block-tree .block-7 {
  background: #f70000;
}
#page-analysis .block-view .block-tree .block-8 {
  background: #f206ff;
}
#page-analysis .block-view .block-tree .block-9 {
  background: #29afd6;
}
#page-analysis .block-view .block-tree .block-10 {
  background: #4a9586;
}
#page-analysis .block-view .block-tree .block-11 {
  background: #b9264f;
}
#page-analysis .block-view .block-tree .block-12 {
  background: #c27e3a;
}
#page-analysis .block-view .block-tree .block-13 {
  background: #9d9d00;
}
#page-analysis .block-view .block-tree .block-14 {
  background: #75b4ff;
}
#page-analysis .block-view .block-tree .block-15 {
  background: #93bf96;
}
#page-analysis .block-view .block-tree .preview {
  position: absolute;
  z-index: 5;
}
#page-analysis .block-view .block-tree .block-bills {
  background: #b71c1c;
}
#page-analysis .block-view .block-tree .block-food {
  background: #43a047;
}
#page-analysis .block-view .block-tree .block-general {
  background: #01579b;
}
#page-analysis .block-view .block-tree .block-holiday {
  background: #00897b;
}
#page-analysis .block-view .block-tree .block-social {
  background: #bf9e24;
}
#page-analysis .tree {
  margin: 1em;
  flex: 1;
}
#page-analysis .tree .title {
  text-transform: capitalize;
}
#page-analysis .tree .cost {
  width: 160px;
  text-align: right;
  position: absolute;
  right: 100px;
}
#page-analysis .tree .pct {
  width: 80px;
  text-align: right;
  float: right;
}
#page-analysis .tree .tree-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
#page-analysis .tree .tree-list .main:hover {
  background: #039cff !important;
}
#page-analysis .tree .tree-list > .tree-list-item {
  position: relative;
}
#page-analysis .tree .tree-list > .tree-list-item:nth-child(2n+1) > .main {
  background: #ececec;
}
#page-analysis .tree .tree-list > .tree-list-item > .main::before {
  content: "";
  border: 6px solid transparent;
  border-left-color: black;
  display: inline-block;
  margin-right: 0.5em;
}
#page-analysis .tree .tree-list > .tree-list-item.open > .main::before {
  border-left-color: transparent;
  border-top-color: black;
  vertical-align: bottom;
}
#page-analysis .tree .tree-list .tree-list-item {
  line-height: 1.5em;
  white-space: nowrap;
  cursor: pointer;
}
#page-analysis .tree .tree-list .tree-list-item span {
  display: inline-block;
}
#page-analysis .tree .tree-list .sub-tree {
  margin: 0 0.5em 0 3em;
  padding: 0;
  list-style: none;
  background: #fffcda;
}
#page-analysis .tree .tree-list .sub-tree .main {
  font-size: 0.9em;
}
/* funds page */
#page-funds .list .item {
  width: 410px;
}
#page-funds .list .item .editable-input {
  max-width: 406px;
}
#page-funds .list .units {
  width: 85px;
}
#page-funds .list .units .editable-input {
  width: 81px;
}
#page-funds .list .gain {
  font-weight: bold;
}
#page-funds .list-head .gain {
  margin-left: 0.5em;
  text-transform: none;
}
#page-funds .list-head .gain .text {
  padding: 0 0.25em;
  margin-left: 0.25em;
}
#page-funds .list-ul .gain {
  width: 200px;
  font-size: 0.8em;
}
#page-funds .list-ul .gain .text {
  width: 100%;
  display: block;
  color: #333;
}
#page-funds .gain .text {
  padding: 0;
  height: 24px;
  background: #666;
}
#page-funds .gain .text span {
  float: left;
  padding: 0 1px;
  overflow: hidden;
  text-overflow: ellipsis;
}
#page-funds .gain .profit {
  background: #ccffd5;
}
#page-funds .gain .profit.high {
  background: #00e612;
}
#page-funds .gain .loss {
  background: #ffa7a7;
}
#page-funds .gain .loss.high {
  background: #ff2c2c;
}
#page-funds .gain .value {
  width: 68px;
  text-align: left;
}
#page-funds .gain .abs {
  width: 64px;
  text-align: left ;
}
#page-funds .gain .pct {
  width: 62px;
  text-align: right;
}
#page-funds .graph-container-pie {
  width: 600px;
  left: 900px;
}
#page-funds .stocks-list {
  position: absolute;
  left: 0;
  top: 0;
  overflow-y: auto;
  font-size: 1em;
  font-family: lcd;
  color: white;
}
#page-funds .stocks-list .stocks-list-ul {
  margin: 0;
  padding: 0 0 2em 0;
  list-style: none;
}
#page-funds .stocks-list .stocks-list-ul li {
  height: 1.2em;
  line-height: 1.2em;
  padding-left: 0.2em;
  display: block;
  float: left;
}
#page-funds .stocks-list .label {
  overflow: hidden;
  display: inline-block;
  white-space: nowrap;
}
#page-funds .stocks-list .label,
#page-funds .stocks-list .absolute {
  display: none;
}
#page-funds .stocks-list .price {
  text-align: right;
  float: right;
  padding-right: 0.8em;
  position: relative;
}
#page-funds .stocks-list .price:after {
  content: "";
  right: 0.1em;
  top: 50%;
  position: absolute;
  width: 0.8em;
  height: 2px;
  background: turquoise;
}
#page-funds .stocks-list .up .price:after,
#page-funds .stocks-list .down .price:after {
  border-left: 0.4em solid transparent;
  border-right: 0.4em solid transparent;
  border-top: none;
  background: none;
  width: 0;
  height: 0;
  top: 0.2em;
}
#page-funds .stocks-list .up {
  color: #ccffd5;
}
#page-funds .stocks-list .up .price:after {
  border-bottom: 0.8em solid #00c100;
}
#page-funds .stocks-list .up .hl-up {
  color: #0f0;
}
#page-funds .stocks-list .down {
  color: #ffa7a7;
}
#page-funds .stocks-list .down .price:after {
  border-top: 0.8em solid #e22121;
  margin-top: 0.2em;
}
#page-funds .stocks-list .down .hl-down {
  color: #f00;
}
#page-funds .stocks-list .change {
  display: inline-block;
  margin-left: 1em;
}
#page-funds .stocks-list .change:after {
  content: "%";
}
/* in page */
#page-in .graph-container-pie {
  width: 800px;
}
/* footer */
#footer-outer {
  margin: 5em 0;
  font-size: .9em;
  color: #666;
  text-align: center;
  font-style: italic;
}
@media screen and (max-width: 1500px) {
  body {
    overflow: auto;
  }
  #main-outer,
  #main-inner,
  #nav-inner,
  #doc-outer,
  #doc-inner .doc-inner,
  #doc-inner > .page {
    width: 1000px;
  }
  #main-outer {
    margin: 0 auto;
    position: relative;
  }
  #nav-inner {
    margin: 0 auto;
  }
  /* hide navigation text */
  #nav-outer .nav-list .nav-link,
  #nav-outer .nav-list .nav-link-btn {
    text-indent: -9999px;
    width: 30px;
    padding: 0 0.5em;
  }
  #nav-outer .nav-list .nav-link:before,
  #nav-outer .nav-list .nav-link-btn:before {
    left: 0.5em;
  }
  /* overview page */
  #page-overview .table-overview {
    width: 100%;
  }
  #page-overview .graph-balance {
    float: left;
  }
  /* funds page */
  #page-funds .graph-fund-history {
    float: right;
    width: 400px;
    position: relative;
  }
  #page-funds .graph-fund-history canvas {
    position: absolute;
    right: 0;
  }
  #page-funds .stocks-list {
    width: 100%;
  }
  #page-funds .gain-info {
    display: none;
  }
  /* in page */
  #page-in .graph-container-pie {
    width: 800px;
    margin-left: 100px;
  }
  .graph-container-outer {
    width: inherit;
    height: 299px;
    position: fixed;
    top: 49px;
    z-index: 5;
    box-shadow: 0 3px 16px rgba(60, 60, 60, 0.3);
    background: white;
    transition: height 0.3s ease-in-out;
  }
  .graph-container-inner {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
  }
  .graph-container {
    display: inline-block;
    overflow: hidden;
  }
  .graph-hidden .graph-container-outer {
    height: 0;
  }
  .graph-toggle-btn {
    position: absolute;
    right: 0;
    bottom: -24px;
    top: initial !important;
    padding: 3px 10px;
    box-shadow: 0 3px 10px rgba(60, 60, 60, 0.6);
  }
  .graph-toggle-btn:after {
    content: "Hide";
  }
  .graph-toggle-btn:active {
    bottom: -25px;
  }
  .list-insert .list-head {
    width: 1000px;
    left: 50%;
    margin-left: -500px;
    top: 348px;
    padding-top: 10px;
    transition: top 0.3s ease-in-out;
  }
  .list-insert .list-ul {
    padding-top: 324px;
    width: inherit;
    transition: padding-top 0.3s ease-in-out;
  }
  .graph-hidden .list-head {
    top: 59px;
  }
  .graph-hidden .list-ul {
    padding-top: 34px;
  }
  .graph-hidden .graph-toggle-btn {
    margin-bottom: -10px;
  }
  .graph-hidden .graph-toggle-btn::after {
    content: "Show";
  }
}
@media screen and (min-width: 1500px) {
  html,
  body {
    height: 100%;
  }
  .graph-container {
    position: fixed;
    z-index: 1;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 3px 10px rgba(60, 60, 60, 0.6);
  }
  /* overview page */
  #page-overview .graph-balance {
    left: 900px;
    top: 69px;
  }
  #page-overview .graph-spend {
    left: 900px;
    top: 379px;
  }
  /* analysis page */
  #page-analysis {
    margin: 0.5em 1em;
  }
  /* in page */
  #page-in .graph-container-pie {
    left: 400px;
    top: 119px;
  }
  /* funds page */
  #page-funds .stocks-list {
    z-index: 0;
    height: 300px;
    width: 400px;
  }
  #page-funds .stocks-list .stocks-list-ul {
    width: 400px;
  }
  #page-funds .stocks-list::-webkit-scrollbar-track {
    -webkit-box-shadow: none;
  }
  #page-funds .stocks-list::-webkit-scrollbar-thumb {
    background-color: rgba(240, 240, 240, 0.3);
  }
  #page-funds .stocks-list::-webkit-scrollbar-thumb:hover {
    background-color: rgba(160, 160, 160, 0.9);
  }
  #page-funds .stocks-list::-webkit-scrollbar-thumb:active {
    background-color: rgba(240, 240, 240, 0.8);
  }
  #page-funds .graph-fund-history {
    width: 600px;
    left: 900px;
    top: 409px;
    z-index: 1;
  }
  .graph-toggle-btn {
    display: none;
  }
  .graph-container-pie {
    left: 800px;
    top: 99px;
  }
  .graph-container-pie-1 {
    top: 409px;
  }
  .list-head {
    width: 100%;
  }
}
