@import '~client/sass/responsive.scss';
@import '~client/sass/variables.scss';
@import '~client/sass/mixins.scss';

.stocks-list {
    display: none;
    width: 500px;
    height: 300px;
    background: $color-very-dark;

    &-ul {
        display: flex;
        margin: 0;
        padding: 0;
        flex-flow: column;
        min-height: 100%;
    }

    &-item {
        display: flex;
        align-items: center;
        color: $color-light;
        flex: 0 0 auto;

        .title {
            flex: 3;
        }
        .price-gain {
            flex: 0 0 100px;
        }
    }

    @media only screen and (min-width: $width-page-mobile) {
        display: block;
        overflow-y: auto;
    }
}
