.page-funds {
    .stocks-list {
        &::-webkit-scrollbar-track {
            -webkit-box-shadow: none;
        }
        &::-webkit-scrollbar-thumb {
            background-color: $color-translucent-l4;
        }
        &::-webkit-scrollbar-thumb:hover {
            background-color: $color-shadow-grey;
        }
        &::-webkit-scrollbar-thumb:active {
            background-color: $color-translucent-l7;
        }
    }
}

@media screen and (min-width: 1500px) {
    .page-funds {
        .graph-fund-history, .stocks-list {
            position: fixed;
            left: 1000px;
        }
        .graph-fund-history {
            top: 100px;
        }
        .stocks-list {
            top: $top-nav + 350;
        }
    }
}

