.funds-info {
    position: fixed;
    top: $height-header-mobile + $height-nav-mobile;
    left: 0;
    right: 0;
    background: beige;
    .gain {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        height: 45px;
        overflow: hidden;
        padding: 10px 24px;
        background: rgba(255, 255, 255, 0.7);
        &.profit {
            background: rgba(100, 255, 100, 0.7);
        }
        &.loss {
            background: rgba(255, 100, 100, 0.7);
        }
    }
    .gain-info {
        display: none;
    }
    .value {
        flex-grow: 3;
        font-size: 150%;
        font-weight: bold;
    }
    .gain-pct {
        flex-grow: 1;
        font-weight: bold;
        font-style: italic;
        text-align: right;
    }
    .cache-age {
        flex-grow: 1;
        flex-wrap: wrap;
        color: #333;
        font-style: italic;
        text-align: right;
        font-size: 80%;
    }
}

