.net-worth-list {
    flex: 1;
    overflow: auto;

    .crud-list {
        &:not(.active) {
            .crud-list-list-item {
                $height: 32px;
                height: $height;
                position: relative;

                &:nth-child(2n+1) {
                    .net-worth-list-item-summary {
                        background: rgba(10, 10, 10, 0.1);
                    }
                }

                .net-worth-list-item-summary {
                    padding-left: 24px;
                    line-height: $height;
                    cursor: pointer;
                    transition: background 0.2s ease;

                    &:hover {
                        background: rgba(10, 60, 240, 0.3);
                    }
                }

                .button-delete {
                    position: absolute;
                    top: ($height - 22px) / 2;
                    right: 24px;
                }
            }
        }

        &.active {
            .crud-list-list-item {
                &:not(.active) {
                    display: none;
                }
            }
        }
    }
}
