.net-worth-list {
    display: flex;
    flex-flow: column;
    flex: 1;
    min-height: 0;

    .title {
        display: flex;
        margin: 0;
        align-items: center;
        justify-content: center;
        font-size: 14px;
        line-height: 22px;
        background: #efefef;
    }

    .crud-list {
        display: flex;
        flex-flow: column;
        min-height: 0;

        &-meta {
            display: flex;
            justify-content: flex-end;
            position: absolute;
            top: 20px;
            right: 5px;
        }

        &-list {
            flex: 1;
            overflow-y: auto;
        }

        &:not(.active) {
            .crud-list-list-item {
                $height: 32px;

                display: flex;
                align-items: center;
                margin: 0;
                padding: 5px 0;
                height: $height;
                position: relative;
                transition: background 0.2s ease;

                &:nth-child(2n) {
                    background: #f3f3f3;
                }

                &:hover {
                    background: rgba(10, 60, 240, 0.3);
                }

                .net-worth-list-item-summary {
                    flex: 1;
                    padding-left: 24px;
                    line-height: $height;
                    cursor: pointer;
                }

                .button-delete {
                    flex: 0 0 64px;
                }
            }
        }

        &.active {
            .crud-list-list-item {
                &:not(.active) {
                    display: none;
                }
            }
        }
    }
}
