.page-analysis {
    flex-flow: column;

    .upper {
        margin: 0.3em 0;
    }
    .input-period,
    .input-grouping {
        margin: 0 1em;
    }
    .btns {
        float: right;
    }
    .period-title {
        margin: 0.3em 1em;
        font-size: 1.2em;
    }
    .tree {
        margin: 1em;
        min-width: 400px;
    }
    .tree-list {
        & > .tree-list-item > .main, .sub-tree .tree-list-item {
            &:hover {
                background: $color-blue;
            }
        }
    }
    .block-view {
        flex-basis: 500px;
        height: 500px;
        .block-tree-outer {
        }
        .block, .sub-block {
            &.active {
                background: $color-highlight;
            }
        }
    }
}

