@import '../../sass/responsive.scss';
@import '../../sass/variables.scss';

.page-analysis {
    .analysis-outer {
        display: flex;
        flex-flow: row wrap;
    }
    .timeline-outer {
        width: 100%;
        height: 1em;
        display: flex;
        flex: 0 0 auto;
        .data-item {
            display: block;
            flex-grow: 1;
            height: 100%;
        }
    }
    .input-period, .input-grouping {
        text-transform: capitalize;
    }
    .tree {
        flex-grow: 1;

        .title {
            flex-grow: 2;
            text-transform: capitalize;
        }
        .cost, .pct {
            flex-grow: 1;
            justify-content: flex-end;
        }
    }
    .tree-list {
        margin: 0;
        padding: 0;
        list-style: none;
        .head {
            font-weight: bold;
            height: 3em;
            .inner {
                display: flex;
                flex-flow: row nowrap;
            }
            .cost, .pct {
                display: flex;
                flex-flow: column;
                text-align: right;
            }
            .selected {
                &:before {
                    content: $bracket-left;
                }
                &:after {
                    content: $bracket-right;
                }
            }
        }
        & > .tree-list-item {
            position: relative;
            &:nth-child(2n+1) > .main {
                background: $color-light;
            }
            & > .main {
                display: flex;
                flex-flow: row;
                align-items: center;
                &:before {
                    content: $none;
                    position: absolute;
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-width: 5px 0 5px 8.7px;
                    border-color: transparent;
                    border-left-color: black;
                }
            }
            &.open > .main::before {
                border-left-color: transparent;
                border-top-color: black;
                border-width: 8.7px 5px 0 5px;
            }
        }
        .tree-list-item {
            display: flex;
            flex-flow: column;

            line-height: 1.5em;
            white-space: nowrap;
            cursor: pointer;
            span {
                display: flex;
                flex-basis: 0;
            } 
            
            .indicator {
                display: flex;
                flex-basis: 16px;
                width: 16px;
                height: 16px;
                margin-left: 14px;
                background: transparent;
            }
            &.saved .indicator {
                background: $color-saved;
            }
            &.bills .indicator {
                background: $color-bills;
            }
            &.food .indicator {
                background: $color-food;
            }
            &.general .indicator {
                background: $color-general;
            }
            &.holiday .indicator {
                background: $color-holiday;
            }
            &.social .indicator {
                background: $color-social;
            }
        }
        .sub-tree {
            margin: 0 0.5em 0 3em;
            padding: 0;
            list-style: none;
            background: $color-highlight-light;
            .main {
                display: flex;
                font-size: 0.9em;
            }

            .tree-list-item {
                &:hover {
                }
            }
        }
    }
}

// desktop (large)
@media screen and (min-width: $width-page-tablet) {
    .page-analysis {
        margin: 0.5em 1em;
    }

    .block-view {
        &.graph-container {
            left: 824px;
            top: $top-nav + 40;
        }
    }
}

// desktop
@media screen and (min-width: $width-page-mobile) {
    .page-analysis {
        flex-flow: column;

        .upper {
            margin: 0.3em 0;
        }
        .input-period,
        .input-grouping {
            margin: 0 1em;
        }
        .btns {
            float: right;
        }
        .period-title {
            margin: 0.3em 1em;
            font-size: 1.2em;
        }
        .tree {
            display: flex;
            max-height: 95%;
            min-width: 400px;
            overflow-y: auto;
            overflow-x: hidden;

            &-list {
                width: 100%;
                flex: 0 1 auto;
                margin: 1em;
            }
        }
        .tree-list {
            & > .tree-list-item > .main, .sub-tree .tree-list-item {
                &:hover {
                    background: $color-blue;
                }
            }
        }
        .block-view {
            flex-basis: 500px;
            height: 500px;
            .block-tree-outer {
            }
            .block, .sub-block {
                &.active {
                    background: $color-highlight;
                }
            }
        }
    }
}

// mobile
@media screen and (max-width: $width-page-mobile) {
    .page-analysis {
        .input-period, .input-grouping {
            display: block;
            margin: 0.3em 0;
            text-align: center;
        }
        .btns {
            display: flex;
            flex-flow: row nowrap;
            margin: 0.3em 0;

            button {
                margin: 0 0.3em;
                flex-basis: 0;
                flex-grow: 1;
                font-size: 0.75em;
            }
        }
        .analysis-outer {
            flex-flow: column-reverse;
        }
        .block-tree-outer {
            height: 300px;
        }
        .tree {
            flex-grow: 0;
            overflow-y: auto;
            padding: 0.3em;
        }
    }
}


