@import '~client/sass/responsive.scss';
@import '~client/sass/variables.scss';
@import '~client/sass/mixins.scss';

@mixin row-height($height) {
    height: $height;
    line-height: $height;
}

@mixin hide-overview-columns($width) {
    @media screen and (max-width: $width) {
        .table-flex {
            .col {
                &.funds, &.bills, &.food, &.general, &.holiday, &.social {
                    display: none;
                }
                &.month {
                    border-right: none;
                }
            }
        }
    }
}

.page-overview {
    .month {
        text-align: right;
    }

    .table-flex {
        width: 100%;
        overflow-y: auto;

        .header {
            flex: 0 0 auto;

            .col .text {
                text-align: center;
                height: 20px;
                line-height: 20px;
            }
            .month {
                background: $color-mob-overview-tbl-month;
            }
            .income {
                background: $color-mob-overview-tbl-income;
            }
            .spending {
                background: $color-mob-overview-tbl-spending;
            }
            .predicted {
                background: $color-mob-overview-tbl-balance;
            }
        }
        .table-overview-rows {
            flex: 1 1 auto;
            overflow-y: auto;
        }

        .col {
            .text {
                padding: 4px 2px;
                display: inline-block;
                width: 100%;
                vertical-align: middle;
                text-align: left;
                height: 32px;
                line-height: 32px;
            }

            &.funds,
            &.bills,
            &.food,
            &.general,
            &.holiday,
            &.social,
            &.net,
            &.balance {
                display: none;
            }
        }
        .past {
            font-style: italic;
            color: $color-medium-slightly-dark;

            .month {
                background: $color-light;
            }
        }
        .active {
            font-weight: bold;

            .month {
                background: $color-green;
                color: $color-white;
            }
        }
        .future {
            .month {
                background: $color-amber;
            }
        }
    }

    .graph-container {
        z-index: 2;
    }

    .graph-balance {
        .show-all {
            position: absolute;
            right: 0;
            top: 0;
            font-size: 0.9em;
            line-height: 20px;
            padding: 0.1em 0.2em;
            background: $color-translucent-l4;
            cursor: pointer;
            span {
                vertical-align: middle;
            }
            .checkbox {
                width: 20px;
                height: 20px;
                float: left;
                position: relative;
                &:before {
                    left: 4px;
                    top: 4px;
                    width: 12px;
                    height: 12px;
                    box-shadow: 0 0 0 1px black;
                }
                &:after {
                    left: 7px;
                    top: 7px;
                    width: 6px;
                    height: 6px;
                }
                &:before, &:after {
                    content: $none;
                    position: absolute;
                    border-radius: 100%;
                }
            }
            &.enabled {
                .checkbox:after {
                    background: black;
                }
            }
        }
    }

    @media only screen and (min-width: $width-page-mobile-small) {
        .table-flex {
            .col {
                .text, .editable {
                    padding: 4px 10px;
                }
            }
        }
    }

    @media only screen and (min-width: $width-page-mobile) {
        @include hide-overview-columns(880px);

        display: flex;
        flex: 1 1 0;
        padding-bottom: 1em;
        overflow-y: auto;
        overflow-x: hidden;

        .table-flex {
            flex: 1 1 0;
            width: 100%;

            &,
            .table-overview-rows {
                overflow-y: unset;
            }

            .table-ovreview-rows {
                overflow: hidden;
            }

            cursor: default;
            .editable-outer {
                width: 80px;
                &.editing {
                    padding: 0;
                }
            }
            .header {
                .col {
                    &.month, &.income {
                        border: none;
                    }
                }
                .text {
                    color: black;
                }
            }
            .row {
                @include row-height(24px);
                // width: 95%;
                font-size: 16px;
            }
            .past {
                @include unimportant;
                @include row-height(16px);
                font-size: 13px;
            }
            .col {
                flex-grow: 10;

                &.funds,
                &.bills,
                &.food,
                &.general,
                &.holiday,
                &.social,
                &.net,
                &.balance {
                    display: block;
                }
        
                &.month {
                    border-right: 3px solid $color-dark;
                    text-align: left;
                }
                &.funds, &.bills, &.food, &.general, &.holiday, &.social, &.income, &.spending {
                    flex-grow: 7;
                }
                &.income {
                    border-left: 3px solid $color-dark;
                }
                &.net {
                    flex-grow: 10;
                    border-right: 3px solid $color-light;
                }
                &.predicted {
                    flex-grow: 9;
                    font-style: italic;
                }
                &.balance {
                    flex-grow: 12;
                }
                .text {
                    display: flex;
                    width: 100%;
                    padding: 0 2px;
                }
                &.balancePred {
                    display: none;
                }

                .text, .editable {
                    height: auto;
                    line-height: 22px;
                }
            }
            .editable-input {
                right: 0;
                top: 0;
                padding: 0;
            }
            .active {
                font-weight: bold;
            }

            .active,
            .future {
                font-size: 14px;

                .text, .editable {
                    line-height: 26px;
                }
            }
        }

        .graph-container-outer {
            display: flex;
            flex: 0 0 300px;
            height: 300px;
        }
    }

    @media only screen and (min-width: $width-page-tablet) {
        @include hide-overview-columns(1380px);
        
        flex-flow: row;
        position: relative;

        .table-flex {
            flex: 1 0 700px;
            max-width: 1024px;
            overflow-y: unset;
            
            .table-overview-rows {
                flex: 1 1 auto;
                overflow: unset;
            }

            .col {
                flex-grow: 10;
            }
            
            .active,
            .future {
                font-size: 16px;
            }
        }

        .graph-container-outer {
            flex: 0 1 520px;
            justify-content: center;
            align-items: center;
            overflow-y: auto;
            height: auto;
            max-height: 640px;
        }
    }
}
