.page-overview {
    flex-flow: row;
    position: relative;

    .table-flex {
        flex: 1 0 700px;
        max-width: 1024px;
        
        .table-overview-rows {
            flex: 1 1 auto;
            overflow: auto;
        }
    }

    .graph-container-outer {
        flex: 0 1 520px;
        justify-content: center;
        align-items: center;
        overflow-y: auto;
        max-height: 640px;
    }
}

@include hide-overview-columns(1380px);

