.page-overview {
    display: flex;
    
    .table-flex {
        flex: 0 0 auto;

        cursor: default;
        .editable-outer {
            width: 80px;
            &.editing {
                padding: 0;
            }
        }
        .header {
            .col {
                &.month, &.income {
                    border: none;
                }
            }
        }
        @mixin row-height($height) {
            height: $height;
            line-height: $height;
            .editable-input {
                height: $height - 1px;
            }
        }
        .row {
            @include row-height(24px);
            font-size: 16px;
        }
        .past {
            @include unimportant;
            @include row-height(16px);
            font-size: 13px;
        }
        .col {
            &.month {
                border-right: 3px solid $color-dark;
                text-align: left;
            }
            &.funds, &.bills, &.food, &.general, &.holiday, &.social, &.income, &.spending {
                flex-grow: 0.7;
            }
            &.income {
                border-left: 3px solid $color-dark;
            }
            &.net {
                flex-grow: 1;
                border-right: 3px solid $color-light;
            }
            &.predicted {
                flex-grow: 0.9;
                font-style: italic;
            }
            &.balance {
                flex-grow: 1.2;
            }
            .text {
                display: flex;
                width: 100%;
                padding: 0 2px;
            }
            &.balancePred {
                display: none;
            }
        }
        .editable-input {
            right: 0;
            top: 0;
            padding: 0;
        }
        .active {
            font-weight: bold;
        }
        .future {
        }
    }

    .graph-container-outer {
        display: flex;
    }
}

