.page-overview {
    flex-flow: column;
    flex-wrap: nowrap;

    overflow-y: auto;

    .table-flex {
    }

    .graph-container-outer {
        flex: 0 0 300px;
        height: 300px;
    }
}

@include hide-overview-columns(880px);

