.page-analysis {
    .input-period, .input-grouping {
        display: block;
        margin: 0.3em 0;
        text-align: center;
    }
    .btns {
        display: flex;
        flex-flow: row nowrap;
        margin: 0.3em 0;

        button {
            margin: 0 0.3em;
            flex-basis: 0;
            flex-grow: 1;
            font-size: 0.75em;
            &:not(:disabled) {
                background: #ffa35c;
            }
        }
    }
    .analysis-outer {
        flex-flow: column-reverse;
    }
    .block-tree-outer {
        height: 300px;
    }
    .tree {
        padding: 0.3em;
    }
}

