.modal-dialog-outer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 10;
    background: transparent;
    .dialog {
        flex-flow: column nowrap;
        width: 360px;
        max-width: 95vw;
        max-height: 95vh;
        overflow-y: scroll;
        overflow-x: hidden;
        font-size: 1.3em;
        background: $color-translucent-slight;
        border-radius: 3px;
        box-shadow: 0 3px 7px $color-shadow-l3;
        transition: filter 0.1s linear;

        animation: into-view 0.3s ease-out;
        transform-origin: bottom;
        &.hidden {
            opacity: 0;
            animation: out-of-view 0.3s ease-out;
        }

        &.loading {
            filter: grayscale(1) contrast(0.7);
        }
    }
    .title {
        font-size: 1.2em;
        padding: 15px 20px 0 20px;
        display: block;
    }
    .form-list {
        display: flex;
        margin: 1em 0;
        padding: 0 10px;
        list-style: none;
        flex-flow: column nowrap;
    }
    .form-row {
        display: flex;
        line-height: 32px;
        flex-flow: row nowrap;
        .inner {
            display: flex;
        }
        .form-label {
            flex-basis: 0;
            flex-grow: 1;
            text-transform: capitalize;
            &:after {
                content: ":";
            }
        }
        .form-field {
            display: flex;
            flex-flow: column nowrap;
            flex-basis: 0;
            flex-grow: 2;
            border: 0;
            line-height: 28px;
            &:after {
                display: block;
                content: $none;
                width: 100%;
                height: 4px;
                border: 1px solid $color-slightly-light;
                border-top: none;
            }
            input[type=text],
            input[type=number],
            input[type=date] {
                display: block;
                border: none;
                outline: none;
                line-height: 28px;
                width: 100%;
                font-size: 16px;
            }
        }
        &.invalid {
            .form-field:after {
                border-color: $color-error;
            }
        }
        &.transactions {
            .inner {
                flex-flow: column nowrap;
                & > .form-field:after {
                    display: none;
                }
            }
            .form-label, .form-field {
                flex-basis: auto;
            }
            .transactions-list {
                font-size: 85%;
                li, .row {
                    display: flex;
                    flex-flow: row nowrap;
                }
                li:not(:last-child) {
                    padding-bottom: 3px;
                    border-bottom: 1px solid $color-medium-very-light;
                }
            }
        }
    }
    .buttons {
        display: flex;
        flex-flow: row nowrap;
        align-items: bottom;
        margin-top: 1em;
        padding: 0 20px 20px 20px;
    }
    .button-cancel {
        background: $color-slightly-light;
        color: black;
        &:after {
            content: $none;
            display: block;
            height: 100%;
            width: 0;
            border-right: 1px solid $color-medium-very-light;
        }
    }
    .button-submit {
        background: $color-blue;
        color: $color-white;
    }
}

