$color-border: #ccc;

$color-cash-easy-access: #b4d6a9;
$color-cash-other: #91c281;

$color-stocks: #9fc3c7;
$color-pension: #2f7bd3;

$color-date: #eeeeef;
$color-assets: #d8e9d3;
$color-liabilities: #f5cacb;
$color-net-worth: #b2a6d3;
$color-expenses: #d5a4bb;

.net-worth-view {
    flex: 1;
    overflow: auto;

    &-table {
        margin: 10px;

        border-collapse: collapse;
        border-spacing: 0;

        font-size: 12px;
        line-height: 20px;

        thead {
            border-top: 1px solid $color-border;
            border-right: 1px solid $color-border;
            border-left: 1px solid $color-border;
        }

        tbody {
            border-top: 1px solid $color-border;
            border-left: 1px solid $color-border;

            tr {
                border-bottom: 1px solid $color-border;
            }

            td {
                border-right: 1px solid $color-border;
            }
        }
    }

    .pagination {
        display: flex;
        margin: 0 10px;

        ul {
            display: flex;
            margin: 0;
            padding: 0;
            list-style: none;

            li {
                margin: 0 5px;
                cursor: pointer;

                &.active {
                    font-weight: bold;
                    cursor: default;
                }
            }
        }
    }

    .sum-value {
        padding: 0 5px;

        &.cash-easy-access {
            background: $color-cash-easy-access;
        }
        &.cash-other {
            background: $color-cash-other;
        }
        &.stocks {
            background: $color-stocks;
        }
        &.pension {
            background: $color-pension;
        }
    }

    .row-categories {
        .net-worth-header {
            background: $color-net-worth;
        }
        .expenses, .fti {
            background: $color-expenses;
        }
    }
    .row-categories, .row-subtitle {
        .assets {
            background: $color-assets;
        }
        .liabilities {
            background: $color-liabilities;
        }
    }
    .row-subtitle {
        .retirement {
            width: 180px;
            background: $color-date;
        }
    }
    .row-date {
        th {
            background: $color-date;
        }
    }

    &-row {
        td:not(.date-short) {
            text-align: right;
            padding: 0 4px 0 10px;
        }
        .date-short {
            font-style: italic;

            &-quarter {
                font-weight: bold;
            }
        }
        .date-long, .assets, .liabilities, .net-worth-value, .fti {
            font-weight: bold;
        }
    }
}
