.login-form {
    z-index: 1001;
    position: fixed;
    left: 50%;
    top: 50%;
    width: 240px;
    height: 300px;;
    margin-top: -150px;
    margin-left: -120px;
    background: $color-very-dark;
    border-radius: 4px;
    box-shadow: 0 26px 90px $color-shadow-l8;
    h3 {
        margin: 0;
        height: 48px;
        line-height: 48px;
        font-size: 24px;
        text-align: center;
        color: $color-very-light;
    }
    .pin-display {
        display: flex;
        flex-flow: row nowrap;
        margin-bottom: 10px;
    }
    .input-pin {
        flex-grow: 1;
        font-size: 64px;
        height: 60px;
        margin: 0 6px;
        position: relative;
        border: none;
        border-radius: 4px;
        background: $color-slightly-dark;
        color: transparent;
        text-align: center;
        outline: none;
        transition: background-color linear .1s;
        &.active {
            background-color: $color-very-light;
        }
        &.done:after {
            content: $none;
            width: 16px;
            height: 16px;
            background: $color-very-light;
            border-radius: 16px;
            position: absolute;
            left: 50%;
            top: 50%;
            margin-left: -8px;
            margin-top: -8px;
        }
    }
    .number-input {
        display: flex;
        flex-flow: column nowrap;
        height: 170px;
        margin: 0 6px 12px 6px;
        background: $color-medium-dark;
        box-shadow: inset 0 0 13px $color-shadow-l5;
        .number-input-row {
            display: flex;
            flex-flow: row nowrap;
            flex-grow: 1;
            align-items: center;
            justify-content: center;
        }
        .btn-digit {
            flex-grow: 1;
            margin: 0 3.166666666%;
            padding: 0;
            background-color: $color-medium-light;
            background-image: linear-gradient(167deg, $color-translucent-l1 50%, transparent 55%), linear-gradient(to bottom, $color-translucent-l15, transparent);
            box-shadow: inset 0 0 0 1px $color-medium-light, inset 0 0 0 2px $color-translucent-l15, 0 8px 0 0 $color-medium, 0 8px 0 1px $color-shadow-l4, 0 8px 8px 1px $color-shadow-l5;
            color: $color-white;
            border: none;
            border-radius: 5px;
            font-family: "Lucida Grande", Arial, sans-serif;
            font-size: 22px;
            font-weight: bold;
            letter-spacing: -1px;
            position: relative;
            text-shadow: 0 1px 1px $color-shadow-l5;
            transition: 0.05s;
            &:active {
                box-shadow: inset 0 0 0 1px $color-medium, inset 0 0 0 2px $color-translucent-l15, 0 0 0 1px $color-shadow-l4;
                transform: translateY(10px);
            }
        }
        .btn-digit-0 {
            flex-grow: 0;
            flex-basis: 27%;
        }
    }
}

