.net-worth-item.active {
  display: flex;
  flex-flow: column;
  flex: 1;
  min-height: 0;

  .crud-list-list {
    display: flex;
    flex-flow: column;
    flex: 1;
    overflow-y: initial;

    &-item.active {
      display: flex;
      margin: 0;
      flex-flow: column;
      flex: 1;
      min-height: 0;

      .net-worth-list-item {
        display: flex;
        flex-flow: column;
        flex: 1;
        min-height: 0;

        &.step-date {
          .net-worth-edit-form-section {
            justify-content: center;
          }
        }

        &.step-currencies {
          display: flex;
          flex-flow: column;

          .edit-currency {
            display: flex;
            align-items: center;

            $title-width: 100px;

            .currency-title {
              flex: 0 0 $title-width;
              margin: 0 5px;
            }

            .button-refresh,
            .button-delete,
            .button-add {
              margin: 2px 4px;
              width: 32px;
              height: 22px;
              line-height: 16px;
            }

            &-add {
              flex-flow: column;
              align-items: flex-start;

              .currency-title {
                flex: 0 0 auto;
              }

              .form-section {
                display: flex;

                .form-field-text {
                  margin: 0 5px;
                  flex: 0 0 $title-width;

                  input {
                    margin: 0;
                    padding-left: 0;
                    padding-right: 0;
                    width: $title-width - 4px;
                  }
                }
              }
            }
          }
        }

        &.step-values {
          .net-worth-edit-form-section {
            min-height: 0;
            overflow-y: initial;

            .edit-by-category {
              width: 100%;
              overflow-y: auto;

              &-value {
                display: flex;
                padding: 5px 0;
                align-items: center;
                background: linear-gradient(to bottom, white, #eee);

                .category {
                  flex: 1;
                }
                .subcategory {
                  flex: 1;
                }
                .form-field-net-worth-value {
                  flex: 3;
                }
                .button-delete {
                  margin: 0 5px;
                  flex: 0 0 auto;
                }
              }
            }
          }
        }
      }

      .button-cancel {
        position: absolute;
        left: 0;
        top:  20px;
      }

      .net-worth-edit-form-section {
        display: flex;
        flex-flow: column;
        flex: 1;
        align-items: center;
        overflow-y: auto;

        &-title {
          margin: 1em 0;
          text-align: center;
          font-size: 16px;
        }

        .error {
          color: #900;
          font-size: 12px;
        }
      }

      .net-worth-edit-form-navigation {
        display: flex;
        flex: 0 0 24px;
        align-items: center;
        justify-content: space-between;
        background: #efefef;

        button {
          height: 23px;
        }
      }
    }
  }
}
