.messages-outer {
    margin: 1em;
    z-index: 1001;
    position: fixed;
    top: $height-nav;
    right: 0;
    .message {
        transition: 0.8s ease-in-out;
        font-style: italic;
        font-size: 0.9em;
        cursor: pointer;
        border-radius: 0.3em;
        box-shadow: 0 3px 6px $color-shadow-l3;
        height: 3em;
        margin-top: 0.5em;
        overflow: hidden;

        span {
            line-height: 3em;
            padding: 1em 2em;
            white-space: nowrap;
            max-width: 400px;
            text-overflow: ellipsis;
            overflow: hidden;
        }

        &.debug {
            background: $color-bg-msg-debug;
        }
        &.warn {
            background: $color-bg-msg-warn;
        }
        &.error {
            background: $color-bg-msg-error;
        }
        &.fatal {
            background: $color-bg-msg-fatal;
        }
        &.closed {
            margin: 0;
            opacity: 0;
            height: 0;
        }
    }
}

