<!doctype html>
<html>
  <head>
    <title>Budget</title>
    <link rel="icon" type="image/png" href="/assets/favicon.ico?v=<%= version %>">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0">
  </head>
  <body>
    <div id="root"></div>
    <script>var pieTolerance=<%= pieTolerance %>,birthDate=new Date('<%= birthDate %>');</script>
    <script src="/assets/bundle.js?v=<%= version %>"></script>
  </body>
</html>

