@import '../../sass/responsive.scss';
@import '../../sass/variables.scss';

// desktop
@media screen and (min-width: $width-page-mobile) {
    .fund-graph {
        display: inline-block;
        
        .fund-graph-cont {
            .graph-container {
                z-index: 10;
                width: 100px;
                height: 48px;
                position: static;
                background: transparent;
            }
            .popout {
                position: absolute;
                background: $color-translucent-l8;
                box-shadow: 0 3px 7px $color-shadow-l2;
                width: 300px;
                height: 120px;        
            }
        }
    }
    .page-funds .list-ul li:nth-last-child(-n + 3) {
        .fund-graph-cont .popout {
            top: initial;
            bottom: 0;
        }
    }
}

