@import '~client/sass/responsive.scss';
@import '~client/sass/variables.scss';

.fund-graph {
    display: inline-block;

    .graph-container {
        z-index: 10;
        width: 100px;
        height: 100%;
        position: static;
        background: transparent;
        box-shadow: none;
    }
    .popout {
        position: absolute;
        background: $color-translucent-l8;
        box-shadow: 0 3px 7px $color-shadow-l2;
        width: 300px;
        height: 120px;
    }
}
