.messages-outer {
    margin: 1em;
    z-index: 1001;
    position: fixed;
    top: $height_nav;
    right: 0;
    .message {
        transition: 0.8s ease-in-out;
        font-style: italic;
        font-size: 0.9em;
        cursor: pointer;
        border-radius: 0.3em;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
        height: 3em;
        margin-top: 0.5em;
        overflow: hidden;

        span {
            line-height: 3em;
            padding: 1em 2em;
            white-space: nowrap;
            max-width: 400px;
            text-overflow: ellipsis;
            overflow: hidden;
        }

        &.debug {
            background: rgba(0, 156, 255, 0.5);
        }
        &.warn {
            background: rgba(255, 147, 0, 0.5);
        }
        &.error {
            background: rgba(255, 0, 0, 0.5);
        }
        &.fatal {
            background: rgba(128, 0, 0, 0.7);
        }
        &.closed {
            margin: 0;
            opacity: 0;
            height: 0;
        }
    }
}

