.block-view {
    display: flex;
    flex-flow: column;

    .status-bar {
        z-index: 2;
        width: 100%;
        flex-basis: 21px;
        flex-grow: 0;
        flex-shrink: 0;
        line-height: 20px;
        font-size: 16px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        background: #222;
        color: #eaeaea;
        margin-top: -1px;
        .inner {
            padding: 0 0.8em;
        }
    }
    .block-tree-outer {
        display: flex;
        flex-flow: row;
        flex-grow: 1;
        width: 100%;
        position: relative;
    }
    .block-tree {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        box-shadow: 0 3px 13px rgba(60, 60, 60, 0.4);

        .block-group {
            float: left;
            display: inline-block;
        }
        .expanded {
            .block-group {
                opacity: 0; /* for the expansion animation */
            }
        }

        &.deep > .block-group {
            display: none;
        }
        .deep-block-tree {
            width: 100%;
            height: 100%;
        }
        .block {
            box-shadow: inset 0 0 13px rgba(60, 60, 60, 0.6);
            z-index: 1;
            &:hover {
                z-index: 2;
                box-shadow: inset 0 0 13px rgba(60, 60, 60, 0.6),
                0 0 16px 3px rgba(60, 60, 60, 0.8);
            }
        }
        .sub-block, &.shallow .block {
            transition: opacity 0.1s linear;
            opacity: 1;
            box-shadow: inset -1px -1px 13px rgba(30, 30, 30, 0.4);
            background-image: linear-gradient(to bottom right,
                rgba(255, 255, 255, 0.6), rgba(0, 0, 0, 0.3));
            &.hidden {
                opacity: 0;
            }
        }
        
        .block, .sub-block {
            float: left;
            position: relative;
        }

        .block-0 { background: #d35400; }
        .block-1 { background: #1abc9c; }
        .block-2 { background: #f1c40f; }
        .block-3 { background: #2980b9; }
        .block-4 { background: #27ae60; }
        .block-5 { background: #e74c3c; }
        .block-6 { background: #9b59b6; }
        .block-7 { background: #f70000; }
        .block-8 { background: #f206ff; }
        .block-9 { background: #29afd6; }
        .block-10 { background: #4a9586; }
        .block-11 { background: #b9264f; }
        .block-12 { background: #c27e3a; }
        .block-13 { background: #9d9d00; }
        .block-14 { background: #75b4ff; }
        .block-15 { background: #93bf96; }

        .preview {
            position: absolute;
            z-index: 5;
        }
        .block-saved {
            background-color: $color-saved;
            background-image: none;

            .sub-block {
                background-image: linear-gradient(45deg, rgba(255,255,255,0.2) 25%, rgba(0,0,0,0) 25%, rgba(0,0,0,0) 50%, rgba(255,255,255,0.2) 50%, rgba(255,255,255,0.2) 75%, rgba(0,0,0,0) 75%, rgba(0,0,0,0) 0);
                background-size: 16px 16px;
            }
        }
        .block-bills {
            background: $color-bills;
        }
        .block-food {
            background: $color-food;
        }
        .block-general {
            background: $color-general;
        }
        .block-holiday {
            background: $color-holiday;
        }
        .block-social {
            background: $color-social;
        }
    }
}

